{{#block "comment"}}
    /**
    * Icons
    */

{{/block}}
{{#block "sprites"}}
    {{#each sprites}}
        ${{strings.name_name}}: '{{name}}';
        ${{strings.name_x}}: {{px.x}};
        ${{strings.name_y}}: {{px.y}};
        ${{strings.name_offset_x}}: {{px.offset_x}};
        ${{strings.name_offset_y}}: {{px.offset_y}};
        ${{strings.name_width}}: {{px.width}};
        ${{strings.name_height}}: {{px.height}};
        ${{strings.name_total_width}}: {{px.total_width}};
        ${{strings.name_total_height}}: {{px.total_height}};
        ${{strings.name_image}}: '{{{escaped_image}}}';
        ${{strings.name}}: ({{px.x}}, {{px.y}}, {{px.offset_x}}, {{px.offset_y}}, {{px.width}}, {{px.height}}, {{px.total_width}}, {{px.total_height}}, '{{{escaped_image}}}', '{{name}}', );
    {{/each}}
{{/block}}
{{#block "spritesheet"}}
    ${{spritesheet_info.strings.name_width}}: {{spritesheet.px.width}};
    ${{spritesheet_info.strings.name_height}}: {{spritesheet.px.height}};
    ${{spritesheet_info.strings.name_image}}: '{{{spritesheet.escaped_image}}}';
    ${{spritesheet_info.strings.name_sprites}}: ({{#each sprites}}${{strings.name}}, {{/each}});
    ${{spritesheet_info.strings.name}}: ({{spritesheet.px.width}}, {{spritesheet.px.height}}, '{{{spritesheet.escaped_image}}}', ${{spritesheet_info.strings.name_sprites}}, );
{{/block}}

{{#block "sprite-functions"}}
    @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
    }

    @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
    }

    @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
    }

    @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
    }

    @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
    }
{{/block}}

i[class*="icon-"], span[class*="icon-"] {
display: inline-block;
}

{{#each retina_groups}}
    {{#isHover name}}
        .icon-{{selector}}:hover {
        background-position: {{normal.px.offset_x}} {{normal.px.offset_y}};
        }

    {{else}}
        .icon-{{name}} {
        background-image: url({{{normal.escaped_image}}});
        background-position: {{normal.px.offset_x}} {{normal.px.offset_y}};
        width: {{normal.px.width}};
        height: {{normal.px.height}};
        }

    {{/isHover}}
{{/each}}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
{{#retinaCss retina_groups}}
    {{retina_selector}} {
    background-image: url({{{retina_data.retina.escaped_image}}});
    background-size: {{retina_data.normal.px.total_width}} {{retina_data.normal.px.total_height}};
    }
{{/retinaCss}}
}