<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Посольство</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="icon" href="assets/img/icon32x32.png" sizes="32x32">
    <link rel="icon" href="assets/img/icon64x64.png" sizes="64x64">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
</head>
<body>

{% include "partials/header.html" %}
{% block content %}{% endblock %}
{% include "partials/footer.html" %}

<script src="assets/js/scripts.js"></script>

</body>
</html>