{% extends "layout.html" %}

{% block content %}
<!-- BEGIN .container -->
<div class="container">
    {% block breadcrumbs %}{% endblock %}
    <div class="row">
        <div class="col-md-9">
            <!-- BEGIN .primary-content -->
            <div class="primary-content">
    	        {% block primary %}{% endblock %}
            </div>
            <!-- END .primary-content -->
        </div>
        <div class="col-sm-3 hidden-sm">
            <!-- BEGIN .sidebar -->
        	<div class="sidebar">
        		{% block sidebar %}{% endblock %}
        	</div>
            <!-- END .sidebar -->
        </div>
    </div>
</div>
<!-- END .container --> 
{% endblock %}