<aside class="banner">
    <a href="#">
        <img src="assets/img/src/widget_view.jpg" srcset="assets/img/src/widget_view@2x.jpg 2x" alt=""/>
    </a>
</aside>
<aside class="banner">
    <a href="#">
        <img src="assets/img/src/widget_view2.jpg" srcset="assets/img/src/widget_view2@2x.jpg 2x" alt=""/>
    </a>
</aside>
<aside class="banner">
    <a href="#">
        <img src="assets/img/src/widget_view3.jpg" srcset="assets/img/src/widget_view3@2x.jpg 2x" alt=""/>
    </a>
</aside>
<aside class="banner">
    <a href="#">
        <img src="assets/img/src/widget_view4.jpg" srcset="assets/img/src/widget_view4@2x.jpg 2x" alt=""/>
    </a>
</aside>