<div class="row">
    <div class="col-xs-6 col-sm-4">
        <div class="social-net">
            <a class="social-net_logo" href="#" target="_blank">
                <i class="icon-vk__big"></i>
            </a>
            <strong class="social-net_name">Вконтакте</strong>
            <div class="social-net_qr-overlay">
                <i class="icon-qr-code"></i>
                <img class="social-net_qr" src="assets/img/src/qr-code.png" alt=""/>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="social-net">
            <a class="social-net_logo" href="#" target="_blank">
                <i class="icon-sina-weibo__big"></i>
            </a>
            <strong class="social-net_name">Sina Weibo</strong>
            <div class="social-net_qr-overlay">
                <i class="icon-qr-code"></i>
                <img class="social-net_qr" src="assets/img/src/qr-code.png" alt=""/>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="social-net">
            <a class="social-net_logo" href="#" target="_blank">
                <i class="icon-tudou__big"></i>
            </a>
            <strong class="social-net_name">Tudou</strong>
            <div class="social-net_qr-overlay">
                <i class="icon-qr-code"></i>
                <img class="social-net_qr" src="assets/img/src/qr-code.png" alt=""/>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="social-net">
            <a class="social-net_logo" href="#" target="_blank">
                <i class="icon-renmin-weibo__big"></i>
            </a>
            <strong class="social-net_name">Renmin Weibo</strong>
            <div class="social-net_qr-overlay">
                <i class="icon-qr-code"></i>
                <img class="social-net_qr" src="assets/img/src/qr-code.png" alt=""/>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="social-net">
            <a class="social-net_logo" href="#" target="_blank">
                <i class="icon-tencent-weibo__big"></i>
            </a>
            <strong class="social-net_name">Tenсent Weibo</strong>
            <div class="social-net_qr-overlay">
                <i class="icon-qr-code"></i>
                <img class="social-net_qr" src="assets/img/src/qr-code.png" alt=""/>
            </div>
        </div>
    </div>
</div>
