<!-- BEGIN .footer -->
<footer class="footer">
	<div class="container">
		<div class="footer_inner">
            <ul class="footer_nav">
                <li>京ICP备05009044号</li>
                <li><a href="#">Поиск по сайту</a></li>
                <li><a href="#">Карта сайта</a></li>
            </ul>
            <p class="footer_dev">
                Разработка сайта
                <a href="http://drucom.ru/" target="_blank"><i class="icon-dev"></i></a>
            </p>
			<p class="footer_copy">&copy; The Embassy of the Russian Federation in the People's Republic of China. All Rights Reserved.</p>
		</div>
	</div>
</footer>
<!-- END .footer -->