{% import 'macros/social-list.html' as social_list %}

<!-- BEGIN .header -->
<header class="header">
    <div class="container">
        <div class="header_side__left">
            <div class="menu-toggle" data-toggle="menu-open">
                <span class="menu-toggle_line"></span>
            </div>
            <div class="menu-toggle menu-toggle__close" data-toggle="menu-close">
            </div>
            <h1 class="site-brand header_logo">
                <a href="index.html">
                    <div class="site-brand_image icon-embassy"></div>
                    <div class="site-brand_title hidden-xs">Посольство России в китае <br/>
                        <small class="site-brand_subtitle">Russian Embassy in China</small>
                    </div>
                </a>
            </h1>
        </div>
        <div class="header_side__right">
            <form class="search-form search-form__popup" action="search.html">
                <button class="search-form_btn" type="submit"><i class="icon-loupe"></i></button>
                <input class="search-form_field" type="text" placeholder="Поиск по сайту"/>
                <div class="search-form_cleaner">
                    <i class="icon-close-circle" data-toggle="clear-input"></i>
                </div>
                <div class="search-form_cancel" data-search="hide">Отмена</div>
            </form>
            <div class="header_row">
                {{ social_list.init('', 'header_social-list') }}
                <ul class="language-list">
                    <li class="language-list_item language-list_item__checked"><a href="#">RUS</a></li>
                    <li class="language-list_item"><a href="#">eng</a></li>
                    <li class="language-list_item"><a href="#">CHN</a></li>
                </ul>
            </div>
            <div class="header_row">
                <ul class="main-menu" data-html="mobile-menu">
                    <li class="main-menu_item"><a href="#">О Посольстве</a></li>
                    <li class="main-menu_item"><a href="#">Россия и Китай</a></li>
                    <li class="main-menu_item"><a href="#">Консульские вопросы</a></li>
                    <li class="main-menu_item"><a href="#">Медиацентр</a></li>
                    <li class="main-menu_item"><a href="#">Новости</a></li>
                    <li class="main-menu_item"><a href="#">Контакты</a></li>
                </ul>
                <div class="header_search" data-search="show">
                    <i class="icon-loupe"></i>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- END .header -->
