<!-- BEGIN .section -->
<section class="section media-center-features">
    <div class="section_header">
        <h2 class="section_title">Медиацентр</h2>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <a class="media-cat" href="#">
                <div class="media-cat_thumb" style="background-image: url('assets/img/src/media-cat_view2.jpg')"></div>
                <div class="media-cat_name">
                    <i class="icon-video-colorized"></i>
                    <strong>Видеоархив</strong>
                </div>
            </a>

            <div class="media-list media-list__video hidden-xs">
                <ul>
                    <li><div><a href="#">Интервью Президента В.В.Путина американскому журналисту Чарли Роузу</a></div></li>
                    <li><div><a href="#">4 декабря Владимир Путин обратился к Федеральному Собранию с ежегодным...</a></div></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <a class="media-cat" href="#">
                <div class="media-cat_thumb" style="background-image: url('assets/img/src/media-cat_view.jpg')"></div>
                <div class="media-cat_name">
                    <i class="icon-gallery-colorized"></i>
                    <strong>Фотогалерея</strong>
                </div>
            </a>

            <div class="media-list media-list__gallery hidden-xs">
                <ul>
                    <li><div><a href="#">IV Каспийский саммит г.Астрахань 29.09.2014</a></div></li>
                    <li><div><a href="#">Обращение В.В.Путина в связи с председательством Российской Федерации</a></div></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <a class="media-cat" href="#">
                <div class="media-cat_thumb" style="background-image: url('assets/img/src/media-cat_view3.jpg')">
                </div>
                <div class="media-cat_name">
                    <i class="icon-doc-colorized"></i>
                    <strong>Библиотека</strong>
                </div>
            </a>

            <div class="media-list media-list__doc hidden-xs">
                <ul>
                    <li><div><a href="#">Авторская статья Президента В.В.Путина "АТЭС: к открытому...</a></div></li>
                    <li><div><a href="#">Обращение В.В.Путина в связи с председательством Российской Федерации...</a></div></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 banners">
            {% include 'partials/banners.html' %}
        </div>
    </div>
</section>
<!-- END .section -->