<!-- BEGIN .section -->
<section class="section partners-news">
    <div class="section_header">
        <a class="partner-logo icon-sputnik" href="#">Sputnk news</a>
        <h2 class="section_title">Новости от партнера</h2>
        <a class="partner-logo icon-ria-news" href="#" style="display: none">Ria news</a>
    </div>
    <div class="media-list four-col" data-js="news-list">
        <ul>
            <li><a href="#">США выступают за отмену торговых ограничений России против Турции</a>
                <time class="publication-date">20 января 2016</time>
            </li>
            <li><a href="#">Заммэра: станцию метро "Технопарк" могут открыть ближе к 20 декабря</a>
                <time class="publication-date">18 января 2016</time>
            </li>
            <li><a href="#">США выступают за отмену торговых ограничений России против Турции</a>
                <time class="publication-date">28 января 2016</time>
            </li>
            <li><a href="#">Заммэра: станцию метро "Технопарк" могут открыть ближе к 20 декабря</a>
                <time class="publication-date">23 января 2016</time>
            </li>
            <li><a href="#">Духовенство Грузии призвало не ассоциировать ислам с терроризмом</a>
                <time class="publication-date">19 января 2016</time>
            </li>
            <li><a href="#">Детеныш появился у пары бегемотов в калининградском зоопарке</a>
                <time class="publication-date">5 января 2016</time>
            </li>
            <li><a href="#">Заммэра: станцию метро "Технопарк" могут открыть ближе к 20 декабря</a>
                <time class="publication-date">8 января 2016</time>
            </li>
            <li><a href="#">Духовенство Грузии призвало не ассоциировать ислам с терроризмом</a>
                <time class="publication-date">15 января 2016</time>
            </li>
        </ul>
    </div>
    <div class="xs-block">
        <div class="partners-news_more" data-toggle="more-news">Больше новостей</div>
    </div>
</section>
<!-- END .section -->
