<ul class="pagination hidden-xs">
    <li class="__active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>..</li>
    <li><a href="#">9</a></li>
    <!-- Use ".icon-pagination-prev" class for pevious page icon. -->
    <li><a href="#"><i class="icon-pagination-next"></i></a></li>
</ul>