<!-- BEGIN .partners -->
<section class="section our-partners">
	<div class="section_header">
        <h2 class="section_title">Наши партнеры</h2>
    </div>
	<div class="p-slider owl-carousel">
		<div class="p-slider_item">
			<a href="#">
				<img src="assets/img/src/partners_item.png" width="112" height="53">
			</a>
		</div>
		<div class="p-slider_item">
			<a href="#">
				<img src="assets/img/src/partners_item2.png" width="123" height="53">
			</a>
		</div>
		<div class="p-slider_item">
			<a href="#">
				<img src="assets/img/src/partners_item3.png" width="129" height="53">
			</a>
		</div>
		<div class="p-slider_item">
			<a href="#">
				<img src="assets/img/src/partners_item4.png" width="130" height="53">
			</a>
		</div>
		<div class="p-slider_item">
			<a href="#">
				<img src="assets/img/src/partners_item5.png" width="130" height="53">
			</a>
		</div>
		<div class="p-slider_item">
			<a href="#">
				<img src="assets/img/src/partners_item6.png" width="128" height="53">
			</a>
		</div>
	</div>
</section>
<!-- END .partners -->
