<!-- BEGIN .service-categories -->
<div class="service-categories">
    <a class="service-categories_item" href="#">
        <div class="icon-balancer"><i class="icon-visa"></i></div>
        <strong class="service-categories_name">Виза</strong>
    </a>
    <a class="service-categories_item" href="#">
        <div class="icon-balancer"><i class="icon-senate"></i></div>
        <strong class="service-categories_name">Генконсульства</strong>
    </a>
    <a class="service-categories_item" href="#">
        <div class="icon-balancer"><i class="icon-speech"></i></div>
        <strong class="service-categories_name">Консульские вопросы</strong>
    </a>
    <a class="service-categories_item" href="#">
        <div class="icon-balancer"><i class="icon-rogatywka"></i></div>
        <strong class="service-categories_name">Российским студентам</strong>
    </a>
    <a class="service-categories_item" href="#">
        <div class="icon-balancer"><i class="icon-humans"></i></div>
        <strong class="service-categories_name">Мы в соцсетях</strong>
    </a>
</div>
<!-- END .service-categories -->