/**
 * Address
 */

.address {
    h5 {
        margin-bottom: 10px;
    }
    a {
        color: $dark;
    }
    &_item {
        margin-bottom: 25px;

        dt {
            color: $niagara;
            @include font-size(12px);
        }
        dd {
            margin-bottom: 20px;
        }
    }
    &_schedule {
        h4 {
            margin-bottom: 25px;
        }
        &_nav {
            @include font-size(12px);
            @include clearfix();

            li {
                float: left;
                margin-right: 30px;
                font-weight: 700;

                &.__active a {
                    color: $light-blue;
                    text-decoration: none;
                    cursor: default;
                }
            }
            a {
                color: $dark;
            }
        }
        &_entry {
            padding: 25px 0;
            @include clearfix();
        }
        &_item {
            float: left;
            width: 90px;
            height: 70px;
            margin-right: 5px;
            margin-bottom: 5px;
            @include font-size(12px);
            text-align: center;
            background-color: $white;
            @include box-shadow(90, 1, 0, 5, rgba(36, 61, 91, .1));

            dt {
                margin-bottom: 10px;
                padding-top: 10px;
                font-weight: 500;
            }
            dd {
                font-weight: 700;

                &.__weekend {
                    color: $niagara;
                }
            }
            &:hover {
                @include box-shadow(90, 2, 0, 5, rgba(0, 68, 160, .2));
            }
        }
    }
    .section {
        padding-bottom: 0;
    }
    .button {
        margin-bottom: 0;
    }
}


@media screen and (max-width: 767px){
    .address_schedule_nav {
        li {
            margin: 0;

            &:first-child {
                margin-right: 8px;
            }
        }
    }
}