/**
 * Banner
 */
 
.banner {
    margin-bottom: 20px;
    a {
        display: block;
    }
    img {
        display: block;
    }
}

@media screen and (max-width: 767px){
    .banner {
        margin-bottom: 15px;

        img {
            width: 100%;
        }
    }
}