/**
 * Breadcrumbs
 */
 
.breadcrumbs {
	@include font-size(12px);
    margin-bottom: 15px;

	&_item {
		display: inline-block;
		margin-right: 2px;

        &:after {
            content: '>';
            margin-left: 4px;
            color: $niagara;
        }
        &:last-child {
            a {
                color: $dark;
            }
            &:after {
                display: none;
            }
        }
        &:first-child a,
		a {
			color: $niagara;
		}

	}
}