/**
 * Buttons
 */
 
.button {
    @include font-size(14px);
    font-weight: 700;
    color: $white !important;
    text-decoration: none !important;
    box-shadow: 0px 2px 10px 0px rgba(0, 68, 160, 0.2);
    background: $light-blue;
    border-radius: 3px;
    padding: 8px 19px;
    margin-bottom: 20px;
    display: inline-block;

    &:hover {
        opacity: .9;
        box-shadow: 0px 2px 10px 0px rgba(0, 68, 160, 0.4);
    }
    &.full-width {
        width: 100%;
        text-align: center;
    }
    & + hr {
        margin-top: 0;
    }
}

.view-all {
    margin-top: 5px;
}