/**
 * History
 */
 
.history {
    margin-bottom: 30px;

    &:last-child {
        .history_content {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
    &_content {
        padding-bottom: 10px;
        border-bottom: 1px solid $light-gray;
    }
}

[class^="history_col"]{
    display: table-cell;
    vertical-align: top;
}
.history_col__right {
    padding-left: 20px;
}

.century-overlay {
    position: relative;
    overflow: hidden;

    &:after {
        content: "";
        top: 70px;
        height: 100%;
        width: 1px;
        background: url("../img/history-devider.png") repeat-y;
        position: absolute;
        left: 50%;
    }
}

.century {
    font-weight: 700;
    @include font-size(12px);
    line-height: 1;
    text-align: center;
    width: 93px;
    height: 70px;
    padding: 18px 0;
    margin-top: 4px;
    background-image: url($bays-image);
    background-position: $bays-offset-x $bays-offset-y;

    big {
        display: block;
        @include font-size(20px);
    }
}


@media screen and (max-width: 767px) {
    .century-overlay {
        display: block;
        margin-bottom: 20px;
    }
    .century {
        margin: 4px auto 0;
    }
    .history_col__right {
        padding-left: 0;
    }
}