/**
 * Social net
 */
 
.social-net {
    margin-bottom: 40px;

    &_logo {
        display: block;
        position: relative;
        width: 90px;
        height: 70px;
        margin-bottom: 14px;
        background: $white;
        border-radius: 4px;
        box-shadow: 0px 2px 10px 0px rgba(36, 61, 91, 0.2);

        &:hover {
            opacity: .6;
        }
        [class^="icon-"] {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
    &_name {
        display: inline-block;
        vertical-align: middle;
    }
    &_qr-overlay {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;

        &:hover {
            .social-net_qr {
                opacity: 1;
                visibility: visible;
            }
        }
        [class^="icon-"] {
            display: block;
            cursor: pointer;
        }
    }
    &_qr {
        position: absolute;
        bottom: 10px;
        left: 10px;
        max-width: none;
        z-index: 2;
        padding: 15px;
        background: #ffffff;
        box-shadow: 0px 6px 30px 0px rgba(36, 61, 91, 0.4);
        opacity: 0;
        visibility: hidden;
        transition: all .3s;
    }
}

@media screen and (max-width: 991px){
    .social-net_qr-overlay {
        display: none;
    }
}

@media screen and (max-width: 767px){
    .social-net {
        text-align: center;
        margin-bottom: 25px;

        &_logo {
            margin: 0 auto 10px;
        }
    }
    .social-net_qr-overlay {
        display: none;
    }
}