/**
 * Error
 */

.error {
    margin: 110px 0 120px;
    padding-top: 55px;
    text-align: center;
    background: url("../img/embassy.png") no-repeat top center;

    &_code {
        font-size: 110px;
        line-height: 1;
        font-weight: 700;
        color: #ffffff;
        text-shadow: 0px 0px 40px rgba(0, 120, 159, 0.45);
        margin-bottom: 20px;
    }
    &_title {
        font-size: 13px;
        font-weight: 700;
    }

    + .service-categories {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 768px) {
    .error {
        margin: 30px 0 55px;

        + .service-categories {
            margin-bottom: 55px;
        }
    }
}