/**
 * Leadership
 */
 
h2.person-name {
    margin-bottom: 15px;
    line-height: 1.1;
}

h3.person-name {
    margin-bottom: 10px;
}

.person-img {
    margin-bottom: 15px;
}

.person-post {
    color: $niagara;
    line-height: 1.25;
    display: inline-block;
}

.read-more-link {
    display: block;
    text-decoration: underline;
    margin: 20px 0;
}

.preview-person {
    margin: 12px 0;

    .person-post {
        margin-bottom: 0;
    }
    &__junior {
        margin: 14px 0 17px;

        .person-name {
            margin-bottom: 5px;
        }
        .person-post {
            @include font-size(12px);
        }
    }
}

@media screen and (max-width: 550px) {
    .person-info {
        [class^="col-xs"] {
            width: 100%;
        }
    }
    .preview-person.col-xs-6 {
        width: 100%;
    }
}