/**
 * Media item
 */

.media_item {
    margin-bottom: 20px;
    @include clearfix();

    &.__small, &.__medium, &.__large {
        .media_item_view {
            float: left;
        }
        .media_item_entry {
            overflow: hidden;
        }
        .media_item_meta {
            margin-bottom: 5px;
        }
        .media_item_time {
            width: auto;
        }
    }
    &.__small {
        margin-bottom: 30px;

        .media_item_view {
            margin: 0 15px 0 0;
            width: 145px;
        }
    }
    &.__medium {
        .media_item_view {
            margin: 0 25px 0 0;
            width: 230px;
        }
    }
    &.__large {
        margin-bottom: 30px;

        .media_item_view {
            margin: 0 30px 0 0;
            width: 336px;
        }
    }
    &_view {
        display: block;
        position: relative;
        margin-bottom: 14px;

        &:hover {
            &:before {
                opacity: 1;
            }
            .icon-play {
              opacity: 1;
            }
        }
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 191, 254, .6);
            opacity: 0;
            transition: opacity .3s;
        }
        .icon-play {
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -36px 0 0 -36px;
          opacity: 0;
          transition: opacity .3s;
        }
        img {
            display: block;
            width: 100%;
        }
    }
    &_meta {
        margin-bottom: 9px;
        color: $niagara;
        @include font-size(12px);
        line-height: 1.4;
        @include clearfix();

        .icon-video, .icon-gallery {
            vertical-align: top;
        }
        .icon-gallery {
            margin-top: 2px;
        }
    }
    &_time, &_info {
        float: left;
        width: 50%;
    }
    &_info {
        text-align: right;
    }
    &_time {
        .icon-video:hover {
            @include sprite-position($video);
        }
        .icon-gallery:hover {
            @include sprite-position($gallery);
        }
    }
    &_content {
        line-height: 1.28;

        p {
            margin-bottom: 0;
        }
    }
}


@media screen and (max-width: 767px){
    .media_item {
        margin-bottom: 30px;

        &.__large,
        &.__small,
        &.__medium {
            .media_item_view {
                float: none;
                width: 100%;
                margin: 0 0 15px 0;
            }
        }
    }
}