/**
 * Media list
 */

.media-list {
    margin-bottom: 15px;

    &.two-col,
    &.four-col {
        margin-left: -15px;
        margin-right: -15px;
        font-size: 0;
        li {
            @include font-size(14px);
            display: inline-block;
            vertical-align: top;
            padding: 0 15px 0;
        }
    }
    &.two-col {
        li {
            width: 50%;
        }
    }
    &.four-col {
        li {
            width: 25%;
        }
    }
    li {

        line-height: 1.22;
        display: block;
        margin-bottom: 20px;
        img {
            display: inline-block;
            vertical-align: top;
            margin-right: 5px;

            & + * {
                display: inline-block;
                width: 95%;
            }
        }
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__video,
    &__gallery,
    &__audio,
    &__doc {
        li > div {
            position: relative;
            padding-left: 23px;
        }
        a {
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
            }
            &[href$=".doc"], &[href$=".docx"] {
                &:before {
                    @include sprite($docx);
                }
            }
            &[href$=".pdf"] {
                &:before {
                    @include sprite($pdf);
                }
            }
            &[target="_blank"] {
                &:before {
                    @include sprite($external);
                }
            }
        }
    }
    &__video {
        a {
            &:before {
                top: 1px;
                width: $video-width;
                height: $video-height;
                background-image: url($video-image);
                background-position: $video-offset-x $video-offset-y;
            }
        }
    }
    &__gallery {
        a {
            &:before {
                top: 4px;
                width: $gallery-width;
                height: $gallery-height;
                background-image: url($gallery-image);
                background-position: $gallery-offset-x $gallery-offset-y;
            }
        }
    }
    &__audio {
        a {
            &:before {
                top: 2px;
                width: $audio-width;
                height: $audio-height;
                background-image: url($audio-image);
                background-position: $audio-offset-x $audio-offset-y;
            }
        }
    }
    &__doc {
        a {
            &:before {
                top: 2px;
                width: $doc-width;
                height: $doc-height;
                background-image: url($doc-image);
                background-position: $doc-offset-x $doc-offset-y;
            }
        }
    }
    .publication-date {
        display: block;
        @include font-size(12px);
        color: $niagara;
        margin-top: 5px;
    }
}

.related-doc {
    margin-bottom: 0;
    padding-bottom: 15px !important;
    li {
        line-height: 1.1;
    }
}

.magazine-list {
    overflow: hidden;
    margin: 0 -15px 20px;
    font-size: 0;
    &_item {
        padding: 0 15px;
        width: 33.33%;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 25px;
        line-height: 1.3;
        font-size: 14px;

        img {
            display: block;
            margin-bottom: 15px;
        }
    }
}

@media screen and (max-width: 767px){
    .media-list {
        &.two-col,
        &.four-col{
            li {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 480px){
    .magazine-list {
        &_item {
            width: 50%;
        }
    }
}

@media screen and (max-width: 380px){
    .magazine-list {
        &_item {
            width: 100%;
            text-align: center;

            img {
                margin: 0 auto 15px;
            }
        }
    }
}