/**
 * Navigation Menu
 */
 
.nav-menu {
	background-color: $white;
	@include box-shadow(90, 2, 0, 10, rgba(36, 61, 91, .1));

	&_item {
		font-weight: 700;
		@include font-size(12px);
		border-bottom: 1px solid #e3eaf1;

		&:last-child {
			border-bottom: 0;
		}
		.icon-aligner + &_text {
			display: block;
			padding-left: 36px;
			line-height: 1.3;
		}
		.icon-aligner {
			position: absolute;
			top: 50%;
			left: 15px;
			margin-top: -14px;
			width: 28px;
			height: 25px;
			line-height: 25px;
			text-align: center;

			[class^="icon-"] {
				vertical-align: middle;
			}
		}
		a, & > span {
			position: relative;
			display: block;
			padding: 17px 20px;
			transition: none;

            &:hover, &.__active {
                box-shadow: 2px 0 0 0 $light-blue inset;
            }
			&:hover {
				.icon-visa-s {
					@include sprite-position($visa-s--hover);
				}
				.icon-senate-s {
					@include sprite-position($senate-s--hover);
				}
				.icon-speech-s {
					@include sprite-position($speech-s--hover);
				}
				.icon-rogatywka-s {
					@include sprite-position($rogatywka-s--hover);
				}
				.icon-humans-s {
					@include sprite-position($humans-s--hover);
				}
				.icon-loup-s {
					@include sprite-position($loup-s--hover);
				}
				.icon-like-s {
					@include sprite-position($like-s--hover);
				}
				.icon-medal-s {
					@include sprite-position($medal-s--hover);
				}
				.icon-rings-s {
					@include sprite-position($rings-s--hover);
				}
				.icon-passport-s {
					@include sprite-position($passport-s--hover);
				}
				.icon-doc-s {
					@include sprite-position($doc-s--hover);
				}
				.icon-humans-n-s {
					@include sprite-position($humans-n-s--hover);
				}
				.icon-stamp-s {
					@include sprite-position($stamp-s--hover);
				}
				.icon-doc-n-s {
					@include sprite-position($doc-n-s--hover);
				}
				.icon-humans-p-s {
					@include sprite-position($humans-p-s--hover);
				}
				.icon-coins-s {
					@include sprite-position($coins-s--hover);
				}
				.icon-portfolio {
					@include sprite-position($portfolio--hover);
				}
			}
			&.__active {
				cursor: default;
			}
		}
	}
	&.__sub {
		border-top: 1px solid #e3eaf1;
		box-shadow: none;

		.nav-menu_item {
			font-weight: 400;

			a, & > span {
				padding: 8px 20px 8px 35px;
			}
		}
	}
}

@media screen and (min-width: 992px) {
    .nav-menu.dropdown {
        display: none;

        .nav-menu_item:not(.current-item) {
            display: block !important;
        }
    }
}

@media screen and (max-width: 991px) {
    .nav-menu.dropdown {
        border-radius: 4px;
        margin-bottom: 20px;

        .nav-menu_item {
            @include font-size(16px);

            & > span,
            & > a {
                padding: 12px 16px;

                &:hover {
                    box-shadow: none;
                }
            }
            span {
                &.__active {
                    box-shadow: none;
                    color: $light-blue;
                }
            }
        }
        > .nav-menu_item:not(.current-item) {
            display: none;
        }
        .__sub {
            .nav-menu_item {
                a,
                span {
                    padding-left: 30px;
                }
            }
        }
    }
    .current-item {
        display: block;
        position: relative;
        cursor: pointer;
        border: none;

        &:after {
            content: "";
            position: absolute;
            right: 13px;
            top: 0;
            bottom: 0;
            margin: auto;
            width: $arrow-bottom-width;
            height: $arrow-bottom-height;
            background-image: url($arrow-bottom-image);
            background-position: $arrow-bottom-offset-x $arrow-bottom-offset-y;
        }
        &__active {
            box-shadow: 0 -2px 0 0 $light-blue inset;

            &:after {
                transform: rotate(180deg);
            }
        }
    }
}