/**
 * Navigation tabs
 */
 
.nav-tabs {
    display: table;
    width: 100%;
    margin-bottom: 25px;
    background: $white;
    box-shadow: 0px 2px 10px 0px rgba(36, 61, 91, 0.2);

    &_item {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        text-align: center;
        width: 20%;
        padding: 15px 0;
        transition: none;

        &:not(:first-child) {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 1px;
                top: 0;
                left: -1px;
                background: $light-gray;
            }
        }
        &:after {
            content: "";
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: 0;
            background: transparent;
        }
        &.active,
        &:hover {
            color: $light-blue;
            &:after {
                background: $light-blue;
            }
            .icon-video {
                @include sprite-position($video--hover);
            }
            .icon-gallery {
                @include sprite-position($gallery--hover);
            }
            .icon-doc {
                @include sprite-position($doc--hover);
            }
        }
        &-title {
            display: inline-block;
            vertical-align: middle;
            font-weight: 700;
        }
    }

    [class^="icon-"] {
        display: inline-block;
        vertical-align: middle;
    }
    .icon__before-title {
        margin-right: 8px;
    }
}