/**
 * News Slider
 */

.n-slider {
    &_item {
        position: relative;
    }
    .owl-stage-outer {
        height: auto !important;
    }
    &_thumbs {
        &_item {
            position: relative;
            cursor: pointer;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba(0, 191, 254, .6);
                opacity: 1;
                transition: opacity .3s;
            }
            &:hover, .__active & {
                &:after {
                    opacity: 0;
                }
            }
        }
        &_wrap {
            position: relative;
            margin-bottom: 20px;

            .owl-nav {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                padding: 0 5px;
                height: 0;
                line-height: 0;

                .owl-prev, .owl-next {
                    padding: 10px;
                    transform: translateY(-50%);

                    &.disabled {
                        .icon-n-slider-next:hover {
                            @include sprite-position($n-slider-next);
                        }
                        .icon-n-slider-prev:hover {
                            @include sprite-position($n-slider-prev);
                        }
                    }
                }
                .owl-prev {
                    float: left;
                }
                .owl-next {
                    float: right;
                }
            }
        }
    }
    &_tabs {
        margin-bottom: 20px;
        @include clearfix();

        .n-slider {
            float: left;
            width: 698px;
        }
        &_wrap {
            float: left;
            padding-left: 5px;
            width: 242px;
            overflow: hidden;
            background-color: #f8f9f9;
        }
        &_item {
            margin-left: -5px;
            padding: 8px 13px 8px 18px;
            height: 80px;
            border-bottom: 1px solid $light-gray;
            @include font-size(13px);
            line-height: 1.2;
            cursor: pointer;

            &.__active {
                left: 0;
                margin-left: 0;
                padding-left: 13px;
                box-shadow: -5px 0px 0px 0px $light-blue, -3px 0px 3px 2px #dde0ef;
                background-color: $white;
            }
            p {
                margin-bottom: 3px;
            }
            &_cat {
                color: $niagara;
                @include font-size(11px);
            }
        }
    }
    &_descr {
        position: absolute;
        bottom: 15px;
        left: 0;
        padding: 11px 25px 7px;
        max-width: 620px;
        border-left: 5px solid $light-blue;
        background-color: rgba(255, 255, 255, .8);

        p {
            margin: 0;
            @include font-size(18px);
            line-height: 1.3;
        }
        &_date {
            color: $dark;
            @include font-size(12px);
        }
    }
    .owl-nav {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        padding: 0 15px;
        transform: translateY(-50%);

        .owl-prev {
            float: left;
        }
        .owl-next {
            float: right;
        }

        [class^="icon-"] {
            vertical-align: top;
        }
    }
}

@media screen and (max-width: 991px) {
    .n-slider_tabs {
        .n-slider {
            width: 100%;
        }
        &_wrap {
            display: none;
        }
    }
}

@media screen and (max-width: 767px) {
    .with-desc {
        .n-slider_descr {
            position: relative;
            bottom: 0;
            max-width: none;
        }
        .owl-nav {
            top: 42%;
        }
    }

    .n-slider_thumbs_wrap {
        display: none !important;
    }
}

@media screen and (max-width: 500px) {
    .with-desc {
        .owl-nav {
            top: 36%;
        }
    }
}

@media screen and (max-width: 350px) {
    .with-desc {
        .owl-nav {
            top: 26%;
        }
    }
}