/**
 * Pagination
 */
 
.pagination {
	margin-left: -7px;
    padding-top: 30px;
	li {
		margin: 0 7px;
		color: $niagara;
		@include font-size(18px);
		font-weight: 700;
		display: inline-block;

		&.__active a {
			color: $dark;
		}
	}
	a {
		color: $niagara;
		text-decoration: none;

		&:hover {
			color: $dark;
		}
	}
	.icon-pagination-prev, .icon-pagination-next {
		margin-top: 3px;
		vertical-align: top;
	}
	.icon-pagination-next {
		margin-left: 10px;
	}
	.icon-pagination-prev {
		margin-right: 10px;
	}
}


@media screen and (max-width: 991px) {
    .pagination {
        padding-top: 18px;
    }
}

@media screen and (max-width: 767px) {
    .pagination {
        padding-top: 10px;
    }
}