/**
 * Partners
 */
 
.our-partners {
	.p-slider {
        padding: 0 20px;

		&_item {
            padding: 0 15px;

			img {
                width: auto !important;
				-webkit-backface-visibility: hidden;
			}
		}
		.owl-nav {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			height: 0;
			line-height: 0;
			display: block !important;

			.owl-prev, .owl-next {
				width: 26px;
				height: 26px;
				background-color: $light-blue;
				border-radius: 50%;
				transform: translateY(-50%);
			}
			.owl-prev {
				float: left;

				i {
					margin: 6px 0 0 7px;
				}
			}
			.owl-next {
				float: right;

				i {
					margin: 6px 0 0 10px;
				}
			}
		}
	}
}

@media screen and (max-width: 767px){
    .our-partners {
        .p-slider {
            padding: 0;

            .owl-nav {
                display: none !important;
            }
        }
    }
}