/**
 * Search form
 */

.search-form {
    background: #ffffff;
    border: 1px solid #ccd3e4;
    border-radius: 4px;
    margin-bottom: 16px;
    position: relative;

    &_field {
        width: 100%;
        background: transparent;
        height: 38px;
        padding: 0 42px;
        border: none;
    }
    &_btn,
    &_cleaner {
        position: absolute;
        top: 0;
        width: 38px;
        height: 100%;
        background: none;
        border: none;
        outline: none;

        [class^="icon-"] {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
    &_btn {
        left: 0;
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;
        transition: opacity .3s;

        &:hover {
            opacity: .7;
        }
    }
    &_cleaner {
        right: 0;

        [class^="icon-"] {
            cursor: pointer;
            transition: opacity .3s;

            &:hover {
                opacity: .7;
            }
        }
    }

    &__popup {
        display: none;
        top: 0;
        right: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #051945;
        border-radius: 0;
        border: none;
        z-index: 2;

        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            width: 100%;
            background: $light-blue;
        }
        .search-form_btn {
            width: 42px;
        }
        .search-form_field {
            height: 100%;
            padding: 0 120px 0 43px;
            outline: none;
            @include font-size(16px);
            color: $niagara;

            &::-webkit-input-placeholder {
                color: $niagara;
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: $niagara;
            }
            &::-moz-placeholder {  /* Firefox 19+ */
                color: $niagara;
            }
            &:-ms-input-placeholder {
                color: $niagara;
            }
        }
        .search-form_cleaner {
            right: 85px;
        }
        .search-form_cancel {
            position: absolute;
            right: 18px;
            top: 50%;
            transform: translateY(-50%);
            border-left: 1px solid #7887a0;
            padding-left: 20px;
            @include font-size(12px);
            color: $niagara;
            cursor: pointer;
        }
    }
}