/**
 * Search
 */
 
.search {
    margin-bottom: 40px;

    &_result-counter {
        @include font-size(12px);
        color: $niagara;
        margin-bottom: 20px;
    }
    &_result-list {
        margin-bottom: 20px;
    }
    &_result-item {
        padding: 12px 0;
        line-height: 1.4;
        border-bottom: 1px solid $light-gray;
        &:first-child {
            border-top: 1px solid $light-gray;
        }
    }
    &_result-cat {
        margin-top: 6px;

        a {
            @include font-size(12px);
            color: $niagara;
        }
    }
}
