/**
 * Section
 */

.section {
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid $light-gray;

    &__separator__disabled {
        border-bottom: none;
    }
    &__indent__none {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    &_header {
        @include clearfix();
        margin-bottom: 20px;

        &__indent__small {
            margin-bottom: 20px;
        }
        [class^="icon-"] {
            display: inline-block;
            vertical-align: middle;
        }
        .view-all {
            float: right;
            text-decoration: underline;
            margin-top: 4px;
        }
    }
    &_title {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
    }
}

.media-cat {
    position: relative;
    margin-bottom: 25px;
    display: block;

    &:hover {
        .media-cat_thumb:before {
            opacity: 1;
        }
    }
    &_thumb {
        background: #3caed4;
        position: relative;
        width: 210px;
        height: 210px;
        background-size: cover;
        background-position: center;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 191, 254, .6);
            opacity: 0;
            transition: all .3s;
        }
        img {
            display: block;
        }
    }
    &_name {
        position: absolute;
        left: 0;
        bottom: 25px;
        padding: 12px;
        background: rgba(254, 254, 254, .9);
        line-height: 1;
        @include font-size(16px);

        [class^="icon-"] {
            vertical-align: top;
            margin-right: 8px;
        }
    }
}

.partners-news {
    margin-bottom: 32px;

    .section_header {
        margin-bottom: 24px;
    }
    .partner-logo {
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
        font: 0px/0 a;

        &.icon-ria-news {
            margin: 5px 20px 0;
        }
    }
}

.media-center-features {
    .media-list {
        margin-bottom: 0;

        li {
            margin-bottom: 25px;
            min-height: 50px;
        }
    }
    .banners {
        a {
            background-position: center;
            background-size: cover;
        }
    }
}

.our-partners {
    margin-bottom: 30px;
    border-bottom: none;

    .section_header {
        margin-bottom: 35px;
    }
}

.icon__before-title {
    margin-right: 3px;
}

@media screen and (max-width: 991px) {
    .section {
        padding-bottom: 0;
    }
    .media-center-features {
        .banners {
            display: none;
        }
    }
}

@media screen and (max-width: 767px) {
    .media-cat {
        margin-bottom: 15px;

        &_thumb {
            height: 100px;
            width: 100%;
        }
        &_name {
            bottom: 30px;
        }
    }
    .media-center-features {
        border-bottom: none;
        margin-bottom: 15px;

        .banners {
            padding-top: 15px;
            display: block;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 15px;
                right: 15px;
                border-top: 1px solid $light-gray;
            }
        }
    }

    .partners-news {
        margin-bottom: 25px;
        .media-list {
            &.__preview li,
            li {
                display: none;
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    display: block;
                }
            }
            &.__all li {
                display: block;
            }
        }
        &_more {
            font-size: 15px;
            font-weight: 700;
            text-decoration: underline;
            margin-bottom: 25px;
            position: relative;
            display: inline-block;
            cursor: pointer;

            &.__active {
                &:after {
                    transform: rotate(180deg);
                }
            }
            &:after {
                content: "";
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 7px solid #96a2b8;
                position: absolute;
                top: 6px;
                right: -26px;

            }
        }
    }

    .section_header .view-all {
        display: none;
    }
}