/**
 * Service Categories
 */
 
.service-categories {
    display: table;
    width: 100%;
    margin-bottom: 30px;
    background: $white;
    box-shadow: 0px 2px 10px 0px rgba(36, 61, 91, 0.2);
    @include clearfix();

    &_item {
        display: table-cell;
        vertical-align: top;
        position: relative;
        text-align: center;
        width: 20%;
        padding: 12px 0 16px;
        transition: none;

        &:hover {
            color: $light-blue;
            &:after {
                background: $light-blue;
            }
            .icon-visa {
                @include sprite-position($visa--hover);
            }
            .icon-senate {
                @include sprite-position($senate--hover);
            }
            .icon-speech {
                @include sprite-position($speech--hover);
            }
            .icon-rogatywka {
                @include sprite-position($rogatywka--hover);
            }
            .icon-humans {
                @include sprite-position($humans--hover);
            }
        }
        &:after {
            content: "";
            width: 100%;
            height: 4px;
            position: absolute;
            left: 0;
            bottom: 0;
            background: transparent;
        }
        + .service-categories_item {
            position: relative;
            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 1px;
                top: 0;
                left: -1px;
                background: $light-gray;
            }
        }
    }
    .icon-balancer {
        min-height: 26px;
        line-height: 26px;
        [class^="icon-"] {
            vertical-align: middle;
        }
    }
    &_name {
        display: block;
        font-weight: 700;
        margin-top: 10px;
        line-height: 0.96;
    }
}


@media screen and (max-width: 767px) {
    .service-categories {
        display: block;

        &_item {
            display: block;
            width: 50%;
            float: left;
            border-bottom: 1px solid $light-gray;

            &:last-child {
                width: 100%;
            }
        }
    }
}