/**
 * Social list
 */

.social-list {
    display: inline-block;
    text-align: center;

    &_item {
        display: inline-block;
        vertical-align: middle;
        margin:0 10px;

        a {
            display: block;
            color: $white;
            font: 0px/0 a;

            &:hover {
                opacity: .7;
            }
        }
    }
}

.our-social{
    padding-top: 10px;
    .social-list {
        margin: 10px 0 30px;
        text-align: justify;
        line-height: 0;
        font-size: 0;
        width: 100%;

        &:after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 0;
        }
        &_item {

            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}