/**
 * Sub nav tabs
 */
 
.sub-nav-tabs {
    margin-bottom: 25px;
    line-height: 1.3;

    &_item {
        font-weight: 700;
        color: $niagara;
        display: inline-block;
        vertical-align: middle;
        margin: 0 7px;

        &:first-child {
            margin-left: 0;
        }
        &.active,
        &:hover {
            color: $dark;
        }
    }
}