/**
 * Tail Nav
 */

.tile-nav {
    &_item {
        display: block;
        margin-bottom: 20px;
        padding: 30px 20px 20px;
        min-height: 140px;
        color: $dark !important;
        text-decoration: none !important;
        background-color: $white;
        @include box-shadow(90, 1, 0, 5, rgba(36, 61, 91, .1));

        &:hover {
            @include box-shadow(90, 3, 0, 15, rgba(36, 61, 91, .2));

            .tile-nav_item_text dt {
                color: $light-blue;
            }
        }
        .icon-aligner {
            float: left;
            width: 42px;
            text-align: center;

            [class^="icon-"] {
                vertical-align: top;
            }
        }
        &_text {
            padding-left: 20px;
            overflow: hidden;

            dt {
                margin-bottom: 10px;
                font-weight: 700;
                @include font-size(16px);
                transition: color .3s;
            }
            dd {
                @include font-size(12px);
                line-height: 1.2;
            }
        }
    }
}

@media screen and (max-width: 991px){
    .tile-nav {
        margin-bottom: 25px;

        &_item {
            padding: 25px 20px;

            .icon-aligner {
                display: none;
            }
            &_text {
                padding-left: 0;
            }
        }
    }
}

@media  screen and (max-width: 767px) {
    .tile-nav {
        &_item {
            min-height: auto;
            padding: 20px 22px;
        }
    }
}