/**
 * Video Popup
 */

.video-popup {
    overflow: hidden;
    width: 640px;

    &_view {
        @include box-shadow(90, 3, 0, 16, rgba(0, 0, 0, .54));
    }
    &_header {
        padding: 20px;
    }
    &_meta {
        padding-top: 7px;
        @include font-size(12px);
        @include clearfix();
    }
    &_date {
        float: left;
        color: #93a3ba;
    }
    &_share {
        float: right;
        @include clearfix();

        dt {
            float: left;
        }
        dd {
            float: left;
        }
        .social-list_item {
            margin: 0 0 0 20px;
        }
    }
}

body {
    .fancybox-overlay {
        background: rgba(4, 10, 24, .95);
    }
    .fancybox-skin {
        border-radius: 0;
        @include box-shadow(90, 13, 0, 19, rgba(0, 0, 0, .26));
    }
    .fancybox-nav {
        top: 175px;
        width: auto;
        height: auto;

        span {
            margin: 0;
            top: 0;
            visibility: visible;
        }
    }
    .fancybox-prev span {
        left: -60px;
        top: 0;
        @include sprite($n-slider-prev);
        background-size: auto;

        &:hover {
            @include sprite($n-slider-prev--hover);
        }
    }
    .fancybox-next span {
        right: -60px;
        top: 0;
        @include sprite($n-slider-next);
        background-size: auto;

        &:hover {
            @include sprite($n-slider-next--hover);
        }
    }
    .fancybox-close {
        top: -27px;
        right: -31px;
        background-size: auto;
        @include sprite($close);
    }
}


@media screen and (max-width: 991px) {
    .video-popup {
        width: 580px;

        &_view {
            iframe {
                width: 580px !important;
                height: 325px !important;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .video-popup {
        width: 280px;

        &_view {
            iframe {
                width: 280px !important;
                height: 200px !important;
            }
        }
    }

    .fancybox-nav {
        display: none;
    }

    body .fancybox-close {
        right: 0;
        top: -30px;
    }

    .video-popup_meta {
        padding-top: 0;
    }

    .video-popup_share {
        padding-top: 10px;
        float: left;

        .social-list_item {
            margin-left: 15px;
        }
    }
}