/**
 * Widget
 */
 
.widget {
	margin-bottom: 40px;

    &_title {
        line-height: 20px;
        min-height: 20px;
    	margin-bottom: 25px;
    	color: $dark;
    }
    h2.widget_title {
        margin: 5px 0 25px;
    }
    h3.widget_title {
        margin: 10px 0 20px;
    }
}

@media screen and (max-width: 991px) {
    .widget {
        margin-bottom: 30px;
    }
}