{% import 'macros/social-list.html' as social_list %}

<div class="video-popup">
  <div class="video-popup_view">
    <iframe
      src="http://www.tudou.com/programs/view/html5embed.action?type=2&code=carquPSGrMc&lcode=aaNNO8_g_Pg&resourceId=0_06_0_99&autoPlay=true"
      allowtransparency="true"
      allowfullscreen="true"
      allowfullscreenInteractive="true"
      scrolling="no"
      border="0"
      frameborder="0"
      style="width:640px;height:360px;"></iframe>
  </div>
  <div class="video-popup_header">
    <h3>Президент В.В.Путин в Пекине присутствовал на военном параде</h3>
    <div class="video-popup_meta">
      <span class="video-popup_date">20 января 2016</span>
      <dl class="video-popup_share">
        <dt>Поделиться</dt>
        <dd>
          {{ social_list.init() }}
        </dd>
      </dl>
    </div>
  </div>
</div>
