@media screen and (max-width: 991px) {
    .hidden-sm {
        display: none;
    }
    .sm-border-disabled {
        border: none;
    }
}

@media screen and (max-width: 767px) {
    .hidden-xs {
        display: none;
    }
    .xs-separator-disabled {
        border: none;
    }
}

@media screen and (min-width: 768px) {
    .xs-block {
        display: none;
    }
}