// Colors
$base-bg: #eef2f6;
$dark: #020c22;
$white: #ffffff;
$light-blue: #00bffe;
$light-gray: #d0dce8;
$niagara: #93a3ba;

// Font Sizes
$base-font-size: 14px;

// Line Height
$base-line-height: 19px;

// Fonts
$base-font: 'Roboto', sans-serif;


