{% macro init(data) %}
<!-- BEGIN .bradcrumbs -->
<ul class="breadcrumbs hidden-sm">
	{% for item in data %}
	<li class="breadcrumbs_item">
		<a href="#">{{ item }}</a>
	</li>
	{% endfor %}
</ul>
<!-- END .bradcrumbs -->
{% endmacro %}