{% import 'macros/media-item.html' as media_item %}

{% macro init(data, size) %}
<div class="row">
    {% for item in data %}
    <div class="col-sm-6">
        {{ media_item.init(item, size) }}
    </div>
    {%if loop.index0 % 2 == 1 %}
    </div>
    <div class="row">
    {% endif %}
    {% endfor %}
</div>
{% endmacro %}