{% macro init(data, size) %}
{% if size == "small" %}
<div class="media_item __small">
{% elif size == "medium" %}
<div class="media_item __medium">
{% elif size == "large" %}
<div class="media_item __large">
{% else %}
<div class="media_item">
{% endif %}
	{%if data.type == "video" %}
	<a href="#" class="media_item_view __video">
		<span class="icon-play" data-fancybox-href="ajax/video-popup.html" data-fancybox-group="video-popup"></span>
	{% else %}
	<a href="#" class="media_item_view">
	{% endif %}
		<img src="{{ data.img }}">
	</a>
	<div class="media_item_entry">
		<div class="media_item_meta">
			<span class="media_item_time">
                {%if data.meta.date_icon %}
                    <i class="icon-{{ data.meta.date_icon }} icon__before-title"></i>
                {% endif %}
                {{ data.meta.date }}
            </span>
			{%if data.meta.info %}
			<span class="media_item_info">
				{%if data.type == "video" %}
				<i class="icon-video icon__before-title"></i>
				{% endif %}
				{%if data.type == "photo" %}
				<i class="icon-gallery icon__before-title"></i>
				{% endif %}
				{{ data.meta.info }}
			</span>
			{% endif %}
		</div>
		<div class="media_item_content">
			<p>{{ data.content }}</p>
		</div>
	</div>
</div>
{% endmacro %}
