{% macro init(data) %}
<!-- BEGIN .nav-menu.dropdown -->
<ul class="nav-menu dropdown">
    {% set item_name = false %}

    {% for item in data.items %}
    {% if item.active %}
    {% set item_name = item.name %}
    {% endif %}
    {% endfor %}

    {% if item_name %}
    <li class="nav-menu_item current-item" data-toggle="open-list"><span>{{ item_name }}</span></li>
    {% else %}
    <li class="nav-menu_item current-item" data-toggle="open-list"><span>
        {% if data.title.text %}
        {{ data.title.text }}
        {% else %}
        Разделы
        {% endif %}
        </span></li>
    {% endif %}

    {% for item in data.items %}
    {% if item_name != item.name %}
    <li class="nav-menu_item">
        {{ active_start(item) }}
        <span class="nav-menu_item_text">{{ item.name }}</span>
        {{ active_end(item) }}
        {%if item.sub_menu %}
        <ul class="nav-menu __sub">
            {% for sub_item in item.sub_menu %}
            <li class="nav-menu_item">
                {{ active_start(sub_item) }} {{ sub_item.name }} {{ active_end(sub_item) }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
<!-- END .nav-menu.dropdown -->
{% endmacro %}

{% macro active_start(item) %}
{%if item.active %}
<span class="__active">
{% else %}
<a href="#">
    {% endif %}
    {% endmacro %}

    {% macro active_end(item) %}
    {%if item.active %}
</span>
{% else %}
</a>
{% endif %}
{% endmacro %}