{% macro init(data) %}
<!-- BEGIN .widget -->
<aside class="widget">
    {% if data.title.tag == 'h2' %}
    <h2 class="widget_title">{{ data.title.text }}</h2>
    {% else %}
    <h3 class="widget_title">{{ data.title.text }}</h3>
    {% endif %}

    <ul class="nav-menu">
        {% for item in data.items %}
        <li class="nav-menu_item">
            {{ active_start(item) }}
            {%if item.icon %}
            <span class="icon-aligner"><i class="{{ item.icon }}"></i></span>
            {% endif %}

            <span class="nav-menu_item_text">{{ item.name }}</span>
            {{ active_end(item) }}
            {%if item.sub_menu %}
            <ul class="nav-menu __sub">
                {% for sub_item in item.sub_menu %}
                <li class="nav-menu_item">
                    {{ active_start(sub_item) }} {{ sub_item.name }} {{ active_end(sub_item) }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</aside>
<!-- END .widget -->
{% endmacro %}

{% macro active_start(item) %}
{%if item.active %}
<span class="__active">
{% else %}
<a href="#">
    {% endif %}
    {% endmacro %}

    {% macro active_end(item) %}
    {%if item.active %}
</span>
{% else %}
</a>
{% endif %}
{% endmacro %}