{% macro tabs(news, autoplay) %}
<!-- BEGIN .n-slider_tabs -->
<div class="n-slider_tabs">
	{{ slider(news, autoplay) }}
	<ul class="n-slider_tabs_wrap">
		{% for item in news %}
		<li class="n-slider_tabs_item">
			<p>{{ item.text }}</p>
			<span class="n-slider_tabs_item_cat">{{ item.category }}</span>
		</li>
		{% endfor %}
	</ul>
</div>
<!-- END .n-slider_tabs -->
{% endmacro %}

{% macro thumbs(news, autoplay) %}
<!-- BEGIN .n-slider_thumbs -->
<div class="n-slider_thumbs">
	<div class="n-slider_thumbs_wrap owl-carousel">
		{% for item in news %}
		<div class="n-slider_thumbs_item">
			<img src="{{ item.thumb }}" />
		</div>
		{% endfor %}
	</div>
	{{ slider(news, autoplay) }}
</div>
<!-- END .n-slider_thumbs -->
{% endmacro %}

{% macro slider(news, autoplay) %}

{% set description = false %}
{% for item in news %}
{% if item.text %}
        {% set description = true %}
{% endif %}
{% endfor %}

<!-- BEGIN .n-slider -->
<div class="n-slider owl-carousel {% if description == true %}with-desc{% endif %} " data-speed="300" {% if autoplay %}data-autoplay="5000"{% endif %}>
	{% for item in news %}
	<div class="n-slider_item">
        <a href="#"><img src="{{ item.img }}" width="698" height="320"></a>
		{% if item.text %}
		<div class="n-slider_descr">
			<p><a href="#">{{ item.text }}</a></p>
			<span class="n-slider_descr_date">{{ item.date }}</span>
		</div>
		{% endif %}
	</div>
	{% endfor %}
</div>
<!-- END .n-slider -->
{% endmacro %}
