{% macro init(data, classes, size) %}
<!-- BEGIN .social-list -->
<ul class="social-list {{ classes }}">
    <li class="social-list_item">
        <a href="#">
            {% if size == 'middle' %}
            <i class="icon-vk__middle">VKontakte</i>
            {% else %}
            <i class="icon-vk">VKontakte</i>
            {% endif %}
        </a>
    </li>
    <li class="social-list_item">
        <a href="#">
            {% if size == 'middle' %}
            <i class="icon-sina-weibo__middle">Sina Weibo</i>
            {% else %}
            <i class="icon-sina-weibo">Sina Weibo</i>
            {% endif %}
        </a>
    </li>
    <li class="social-list_item">
        <a href="#">
            {% if size == 'middle' %}
            <i class="icon-tudou__middle">Tudou</i>
            {% else %}
            <i class="icon-tudou">Tudou</i>
            {% endif %}
        </a>
    </li>
    <li class="social-list_item">
        <a href="#">
            {% if size == 'middle' %}
            <i class="icon-renmin-weibo__middle">Remni Weibo</i>
            {% else %}
            <i class="icon-renmin-weibo">Remni Weibo</i>
            {% endif %}
        </a>
    </li>
    <li class="social-list_item">
        <a href="#">
            {% if size == 'middle' %}
            <i class="icon-tencent-weibo__middle">Tencent Weibo</i>
            {% else %}
            <i class="icon-tencent-weibo">Tencent Weibo</i>
            {% endif %}
        </a>
    </li>
</ul>
<!-- END .social-list -->
{% endmacro %}
