/**
 * Footer
 */
 
.footer {
	color: #abb1c0;
	@include font-size(12px);
	line-height: 1.3;

	&_inner {
		padding: 15px 0 85px;
		border-top: 1px solid $light-gray;
	}
	&_copy {
		float: left;
		width: 305px;
		margin: 0;
	}
	&_dev {
		float: right;
		margin: 0;
		line-height: 2.3;

		.icon-dev {
			margin-left: 10px;
			vertical-align: top;
		}
	}
	&_nav {
        float: right;
        margin: 0 20px;
		padding: 6px 0;
		overflow: hidden;
		text-align: center;
		color: $dark;

		li {
			display: inline-block;
			margin: 0 10px;
		}
		a {
			text-decoration: underline;
		}
	}
}

@media screen and (max-width: 991px) {
    .footer {
        &_inner {
            padding-bottom: 0;
        }
        &_nav {
            float: left;
            margin: 0;

            li:first-child {
                margin-left: 0;
            }
            li:last-child {
                margin-right: 0;
            }
        }
        &_copy {
            float: none;
            width: 100%;
            padding: 13px 10px;
            clear: both;
            text-align: center;
        }
    }
}

@media screen and (max-width: 767px) {
    .footer {
        &_inner {
            padding-bottom: 20px;
        }
        &_nav {
            float: none;
            li {
                margin: 0 5px;
            }
        }
        &_dev {
            float: none;
            margin: 15px 0;
            text-align: center;
        }
        &_copy {
            padding: 0;
        }
    }
}