/**
 * Header
 */

.header {
    background: #051945;
    margin-bottom: 20px;

    &_side__left {
        float: left;
        padding: 9px 0;
        position: relative;
    }
    &_side__right {
        float: right;
        padding: 9px 0;
        position: relative;
    }
    &_row {
        @include clearfix;
        text-align: right;
    }
    &_logo {
        margin-top: 13px;
    }
    &_social-list {
        margin: 0 10px;
    }
    &_search {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        transition: opacity .3s;
        cursor: pointer;

        [class^="icon-"] {
            display: block;
        }
        &:hover {
            opacity: .7;
        }
    }
}

.site-brand {
    color: $white;
    margin-bottom: 0;

    a {
        display: block;
        color: $white;
    }
    &_image {
        display: inline-block;
        margin: -2px 13px 0 0;
        vertical-align: top;
    }
    &_title {
        display: inline-block;
        font-weight: 400;
        @include font-size(14px);
        line-height: 1;
        text-transform: uppercase;
    }
    &_subtitle {
        @include font-size(9.3px);
        display: inline-block;
        margin-top: 4px;
    }
}

.language-list {
    display: inline-block;
    text-align: center;
    line-height: 1;

    &_item {
        margin-left: 9px;
        position: relative;
        display: inline-block;

        + .language-list_item:before {
            content: "";
            position: absolute;
            height: 8px;
            width: 1px;
            background: #6578a1;
            left: -7px;
            top: 1px;
            bottom: 0;
            margin: auto;
        }
        a {
            text-transform: uppercase;
            @include font-size(10px);
            color: #889bc3;
            &:hover {
                color: $white;
            }
        }
        &__checked {
            a {
                color: $white;
            }
        }
    }
}

.main-menu {
    line-height: 1;
    display: inline-block;
    text-align: center;
    margin: 10px 0;

    &_item {
        display: inline-block;

        &:not(:first-child) {
            margin-left: 15px;
        }
        a {
            @include font-size(13px);
            color: $white;

            &:hover {
                color: $light-blue;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .menu-toggle {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .menu-toggle {
        display: block;
        position: absolute;
        width: 21px;
        top: 0;
        left: 0px;
        bottom: 0;
        height: 15px;
        margin: auto;
        cursor: pointer;
        z-index: 2;

        &:before,
        &:after {
            content: "";
            width: 100%;
            height: 3px;
            left: 0;
            background: $white;
            border-radius: 3px;
            position: absolute;
        }
        &:before {
            top: 0;
        }
        &:after {
            bottom: 0;
        }
        &_line {
            margin: 6px 0;
            height: 3px;
            background: $white;
            border-radius: 3px;
            display: block;
        }
        &__close {
            display: none;
            z-index: 3;
            height: 18px;
            &:after,
            &:before {
                top: 50%;
                margin-top: -3px;
                border-radius: 2px;
            }
            &:before {
                transform: rotate3d(0, 0, 1, -45deg);
            }
            &:after {
                transform: rotate3d(0, 0, 1, 45deg);
            }
        }
    }

    .header {
        position: relative;

        &_logo {
            margin-left: 45px;
        }
        &_side__right {
            padding: 24px 0;
            position: inherit;
        }
        &_social-list {
            margin:  0 5px;

            .social-list_item {
                margin: 0 15px;
            }
        }
        &_search {
            display: none;
        }
    }

    .site-brand {
        margin-bottom: 6px;

        &_image {
            margin-right: 8px;
        }
    }

    .main-menu {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background: rgba(20, 31, 70, .97);
        z-index: 2;
        margin: 0;

        &_item {
            display: block;
            margin: 25px 0;

            &:not(:first-child) {
                margin-left: 0;
            }
            a {
                font-size: 16px;
                display: inline-block;
                padding: 10px 0;
            }
        }
    }
}


@media screen and (max-width: 767px) {
    .menu-toggle {
        display: block;
        position: absolute;
        width: 17px;
        top: 0;
        left: 0px;
        bottom: 0;
        height: 12px;
        margin: auto;
        cursor: pointer;
        z-index: 2;

        &:before,
        &:after {
            height: 2px;
        }
        &_line {
            margin: 5px 0;
            height: 2px;
        }
        &__close {
            display: none;
            z-index: 3;
            height: 12px;
            &:after,
            &:before {
                margin-top: -1px;
            }
        }
    }

    .header {
        position: relative;

        &_logo {
            margin: 5px 0 5px 35px;
        }
        &_social-list {
            display: none;
        }
        &_side__right {
            padding: 18px 0;
        }
    }

    .language-list_item {
        margin-left: 12px;

        & + &:before {
            height: 10px;
            top: -1px;
            left: -8px;
        }
        a {
            @include font-size(12px);
        }
    }
}