/**
 * Page
 */

.page {
    &-header {
        margin-bottom: 22px;

        &__indent__small {
            margin-bottom: 20px;
        }
        &_row {
            padding-bottom: 10px;

            @include clearfix();
        }
    }
    &-title {
        @include font-size(24px);
        margin-bottom: 22px;
    }
    &-thumbnail {
        margin-bottom: 26px;

        img {
            display: block;
            width: 100%;
        }
    }
    &-content {
        b {
            a {
                color: $dark;
            }
        }
        a {
            color: $light-blue;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
        .media-list {
            padding: 15px 0 20px;

            li {
                margin-bottom: 15px;
            }
            a {
                color: $dark;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &-slider-gallery {
        margin-bottom: 35px;

        .owl-carousel:not(.n-slider_thumbs_wrap) {
            .owl-nav {
                position: absolute;
                top: 0;
                bottom: 0;
                transform: none;

                .owl-prev,
                .owl-next {
                    position: absolute;
                    width: 50%;
                    top: 0;
                    bottom: 0;

                    [class^="icon-"] {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                .owl-prev {
                    left: 0;

                    [class^="icon-"] {
                        left: 15px;
                    }
                }
                .owl-next {
                    right: 0;

                    [class^="icon-"] {
                        right: 15px;
                    }
                }
            }
        }
    }
}

img.alignleft {
    float: left;
    margin: 0.3em 2.1em 1em 0;
    clear: left;
}

img.alignright {
    float: right;
    margin: 0.3em 0 1em 2.1em;
}

img.aligncenter {
    clear: both;
    display: block;
    margin: 1em auto;
}

.textcenter {
  text-align: center;
}

.date-article,
.media-info {
    @include font-size(12px);
    color: $niagara;
    float: left;
}

.date-article + .media-info {
    margin-left: 35px;
}

.share-article {
    float: right;
    @include font-size(12px);

    &_social-list {
        text-align: right;
        margin-left: 5px;

        .social-list_item {
            margin: 0 8px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.page-footer {
    padding-top: 20px;

    @include clearfix();
}

.come-back-link {
    float: left;
    color: $niagara;
}


@media screen and (max-width: 767px){

    .page-header_row {
        padding-bottom: 0;
    }

    .share-article {
        clear: both;
        float: none;
        padding-top: 20px;
        width: 100%;
        font: 0;
        line-height: 0;

        .social-list {
            width: 100%;
            text-align: justify;
            font: 0/0px a;

            &_item {
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
            &:after {
                content: "";
                display: inline-block;
                width: 100%;
                height: 0;
            }
        }
    }

    .page-slider-gallery {
        margin-bottom: 30px;
    }

    .page-footer {
        padding-top: 15px;
        padding-bottom: 15px;

        .share-article {
            display: none;
        }
    }
}