/**
 * Primary Content
 */
 
.primary-content {
    margin-bottom: 50px;
}

@media screen and (max-width: 991px){
    .primary-content {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 767px){
    .primary-content {
        margin-bottom: 20px
    }
};