{% extends "one-column.html" %}

{% block primary %}

<div class="error">
    <div class="error_code">404</div>
    <div class="error_title">Страница не найдена</div>
</div>

{% include "partials/service-categories.html" %}
{% endblock %}