{% extends "two-column.html" %}

{% import 'macros/nav-menu.html' as nav %}
{% import 'macros/nav-menu-mob.html' as nav_mob %}
{% import 'macros/breadcrumbs.html' as breadcrumbs %}

{% block breadcrumbs %}
{{ breadcrumbs.init(about.pages.leadership.breadcrumbs) }}
{% endblock %}

{% block primary %}
<header class="page-header">
    <h1 class="page-title">Руководство</h1>
</header>
{{ nav_mob.init(about.pages.leadership.sidebar.nav_menu) }}
<div class="page-content">
    <div class="person-info row">
        <div class="col-xs-4">
            <img class="person-img" src="assets/img/src/leadership_person-img.jpg" alt=""/>
        </div>
        <div class="col-xs-8">
            <h2 class="person-name">Денисов Андрей Иванович</h2>
            <p><span class="person-post">Чрезвычайный и Полномочный Посол Российской Федерации в Китайской Народной Республике</span></p>
            <p>
                Родился в 1952 году. <br/>
                Окончил в 1974 году МГИМО МИД СССР. Кандидат экономических наук. <br/>
                Владеет китайским и английским языками. <br/>
                В системе МИД с 1992 года. Занимал различные дипломатические должности в центральном аппарате Министерства и за рубежом. <br/>
                <a class="read-more-link" data-toggle="read-more" href="#">Читать далее</a>
                <span class="hidden-area">
                    В 1997-2000 гг. - директор Департамента экономического сотрудничества. <br/>
                    В 2000-2001 гг. - посол России в Арабской Республике Египет. <br/>
                    В 2001-2004 гг. - заместитель Министра иностранных дел Российской Федерации. <br/>
                    В 2004-2006 гг. - Постоянный представитель Российской Федерации при Организации Объединенных Наций в Нью-Йорке, США, и представитель Российской Федерации в Совете Безопасности Организации Объединенных Наций. <br/>
                    В 2006-2013 гг. - первый заместитель Министра иностранных дел Российской Федерации. <br/>
                    С 2013 гг. - Чрезвычайный и Полномочный Посол Российской Федерации в Китайской Народной Республике. <br/>
                    Отмечен государственными наградами. Имеет дипломатический ранг Чрезвычайного и Полномочного Посла. <br/>
                    Женат, имеет дочь. <br/>
                </span>
            </p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="preview-person col-sm-6">
            <h3 class="person-name">Томихин Евгений Юрьевич</h3>
            <span class="person-post">Советник-посланник Посольства Российской Федерации в Китайской Народной Республике</span>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="preview-person preview-person__junior col-xs-6">
            <h3 class="person-name">Томихин Евгений Юрьевич</h3>
            <span class="person-post">Старший советник</span>
        </div>
        <div class="preview-person preview-person__junior col-xs-6">
            <h3 class="person-name">Краминцев Сергей Анатольевич</h3>
            <span class="person-post">Старший советник</span>
        </div>
        <div class="preview-person preview-person__junior col-xs-6">
            <h3 class="person-name">Пашков Виктор Львович</h3>
            <span class="person-post">Старший советник</span>
        </div>
        <div class="preview-person preview-person__junior col-xs-6">
            <h3 class="person-name">Масалимов Ринат Шамгунович</h3>
            <span class="person-post">Старший советник</span>
        </div>
        <div class="preview-person preview-person__junior col-xs-6">
            <h3 class="person-name">Шин Владимир Алексеевич</h3>
            <span class="person-post">Советник</span>
        </div>
        <div class="preview-person preview-person__junior col-xs-6">
            <h3 class="person-name">Медяник Евгений Александрович</h3>
            <span class="person-post">Советник</span>
        </div>
        <div class="preview-person preview-person__junior col-xs-6">
            <h3 class="person-name">Варфоломеев Андрей Александрович</h3>
            <span class="person-post">Советник</span>
        </div>
        <div class="preview-person preview-person__junior col-xs-6">
            <h3 class="person-name">Ощепков Владимир Платонович</h3>
            <span class="person-post">Советник</span>
        </div>
    </div>
</div>
{% endblock %}

{% block sidebar %}
{{ nav.init(about.pages.leadership.sidebar.nav_menu) }}
{% endblock %}