{% extends "two-column.html" %}

{% import 'macros/nav-menu.html' as nav %}
{% import 'macros/nav-menu-mob.html' as nav_mob %}
{% import 'macros/breadcrumbs.html' as breadcrumbs %}

{% block breadcrumbs %}
{{ breadcrumbs.init(about.pages.school.breadcrumbs) }}
{% endblock %}

{% block primary %}
<div class="page-header">
    <h1 class="page-title">Школа при Посольстве</h1>
</div>
{{ nav_mob.init(about.pages.school.sidebar.nav_menu) }}
<div class="page-content">
    <p><img class="alignleft" src="assets/img/src/post-content_view4.jpg" alt=""/> <br/><b>Официальный сайт&nbsp; &nbsp; &nbsp;<a href="http://ru-pekin.edusite.ru/" target="_blank">http://ru-pekin.edusite.ru/</a></b></p>
    <br/>

    <p>В 1715 году указом Петра I была основана Российская Православная Духовная Миссия, в состав которой, помимо группы священников, были включены также ученики для изучения китайского, маньчжурского, монгольского и других восточных языков, местных обычаев и китайской культуры. На ее бывшей территории и расположено сегодня Посольство России.</p>
    <br/>

    <p> После победы социалистической революции в Китае при После П.Ф. Юдине для детей работников Советского Посольства в 1954 г. была открыта средняя школа, которая первоначально находилась в здании гостиницы «Дружба» в северо-западной части Пекина. В этом месте школа просуществовала вплоть до 1962 г.</p>
    <br/>

    <p><img class="alignleft" src="assets/img/src/post-content_view5.jpg" alt=""/> С 1963 г. при После СССР в КНР С.В.Червоненко после завершения строительства современного здания школа начала функционировать на территории Посольства. С 1967 по 1969 год работа школы из-за ухудшения отношений между СССР и КНР была приостановлена и возобновлена в 1970 г. при После СССР в КНР В.С.Толстикове. С 1970
        по 1971 год школа работала вначале как начальная, а затем как неполная средняя школа. С 1972 года она возобновляет свою работу как средняя школа. В 1995 году при После Российской Федерации в КНР И.А. Рогачеве здание школы было реконструировано, что позволило улучшить бытовые условия и увеличить площадь учебных помещений, которая сейчас составляет 2063 кв. метра. В школе около 40 учебных
        кабинетов, актовый и спортивный залы, просторная библиотека.</p>
</div>
{% endblock %}

{% block sidebar %}
{{ nav.init(about.pages.school.sidebar.nav_menu) }}
{% endblock %}