{% extends "two-column.html" %}

{% import 'macros/nav-menu.html' as nav %}
{% import 'macros/nav-menu-mob.html' as nav_mob %}
{% import 'macros/breadcrumbs.html' as breadcrumbs %}

{% block breadcrumbs %}
{{ breadcrumbs.init(about.pages.index.breadcrumbs) }} 
{% endblock %}

{% block primary %}
<header class="page-header">
    <h1 class="page-title">О Посольстве</h1>
</header>
{{ nav_mob.init(about.pages.index.sidebar.nav_menu) }}
<div class="page-thumbnail">
    <img src="assets/img/src/post-content_view.jpg" alt=""/>
</div>
<div class="page-content">
    <p>Посольство России в КНР расположено на <a href="#">улице Дунчжимэнь бэйчжунцзе</a> в районе Дунчэн г.Пекина, на северо-восточном углу городского центра, который, как известно ограничен пределами второй кольцевой автодороги. Посольство занимает территорию бывшей русской духовной миссии, созданной в 1716 году при активном участии русских купцов и с согласия императора Канси. В 1955 году духовная миссия была закрыта, и по договоренности с китайской стороной Посольство переехало на ее территорию с прежнего места в переулке Дунцзяоминсян, что неподалеку от императорского дворца Гугун и старого Пекинского железнодорожного вокзала. Часть территории миссии тогда была передана китайской стороне.</p>
    <p>Посольство занимает территорию около 16 гектаров, на которой в 1959 г. по проекту архитектора Г.П.Яковлева было построено административное здание Посольства. Увенчанное куполом трехэтажное здание расположено у главных (южных) ворот Посольства. Взору входящего в него открывается большой холл и широкая мраморная лестница, ведущая наверх в Белый зал, который используется для больших торжественных приемов. С другой стороны здания на возвышении расположен Верхний сад с фонтаном. 4 мая 1997 года, с благословения Патриарха Московского и Всея Руси Алексия Второго на территории Верхнего сада был установлен крест в память о всех православных, “в сией стране почивших и погребенных”.</p>
    <br/>
    <p><img class="alignleft" src="assets/img/src/post-content_view2.jpg" alt=""/><img class="alignleft" src="assets/img/src/post-content_view3.jpg" alt=""/>Некоторые строения на территории посольства сохранились от былых времен. Один из памятников старины – бывшие архиерейские палаты, также называемые “Красной фанзой” – поддерживаются в хорошем состоянии.  Самой древней реликвией сохранившейся до сегодняшних дней, вероятно, является массивный бронзовый треножник, установленный на площадке у входа в "Красную фанзу". Более 300 лет назад был передан албазинцам для использования во время богослужений, а до этого принадлежал кумирне Гуаньдимяо.</p>
    <p>На территории Посольства расположены Торговое представительство Российской Федерации, трехэтажное здание средней школы, где учится более 300 детей (не только россиян, но стран СНГ, Восточной Европы, а в последнее время – и других регионов мира), жилые дома, клуб, детский сад, детские игровые площадки, спортивные площадки, бассейн, теннисные корты.</p>
    <br/>
    <p>Отдельных слов заслуживает большой парк, разбитый на территории Посольства и занимающий большую его часть. Через парк протекает причудливо извивающийся канал, который формирует несколько островов, соединенных живописными мостиками. Замерзающий зимой пруд используется как каток, на котором нередко царят хоккейные баталии, в том числе традиционные матчи между россиянами и канадцами, а в теплое время года там работает фонтан. Туда же каскадом стекает вода из расположенного напротив небольшого декоративного водопада. Посольский парк играет важную роль для экологического благополучия близлежащих пекинских кварталов, являясь своего рода легкими этого района. Недаром парк стал домом для гусей и уток, ежей и белок, большого количества птиц – дятлов, удодов, сорок, скворцов. В пруду водятся золотые карпы, а на зиму сюда прилетают утки-мандаринки.</p>
</div>
{% endblock %}

{% block sidebar %} 
{{ nav.init(about.pages.index.sidebar.nav_menu) }}
{% endblock %}