{% extends "two-column.html" %}

{% import 'macros/nav-menu.html' as nav %}
{% import 'macros/nav-menu-mob.html' as nav_mob %}
{% import 'macros/breadcrumbs.html' as breadcrumbs %}

{% block breadcrumbs %}
{{ breadcrumbs.init(about.pages.social.breadcrumbs) }}
{% endblock %}

{% block primary %}
<header class="page-header">
    <h1 class="page-title">Посольство в соцсетях</h1>
</header>
{{ nav_mob.init(about.pages.social.sidebar.nav_menu) }}
<div class="page-content">
    {% include "partials/embassy-in-socials.html" %}
</div>
{% endblock %}

{% block sidebar %}
{{ nav.init(about.pages.social.sidebar.nav_menu) }}
{% endblock %}
