{% extends "two-column.html" %}

{% import 'macros/nav-menu.html' as nav %}
{% import 'macros/nav-menu-mob.html' as nav_mob %}
{% import 'macros/breadcrumbs.html' as breadcrumbs %}

{% block breadcrumbs %}
{{ breadcrumbs.init(about.pages.history.breadcrumbs) }}
{% endblock %}

{% block primary %}
<header class="page-header">
    <h1 class="page-title">История Посольства</h1>
</header>
{{ nav_mob.init(about.pages.history.sidebar.nav_menu) }}
<article class="history">
    <div class="history_col__left century-overlay">
        <div class="century">
            <big>XVII</big>век
        </div>
    </div>
    <div class="history_col__right">
        <div class="history_content page-content">
            <p><img class="alignleft" src="assets/img/src/post-content_view6.jpg" alt=""/>Посольство России в КНР расположено на улице Дунчжимэнь бэйчжунцзе в районе Дунчэн г.Пекина, на северо-восточном углу городского центра, который, как известно ограничен пределами второй кольцевой автодороги. Посольство занимает территорию бывшей русской духовной миссии, созданной в 1716 году при активном участии русских купцов и с согласия императора Канси.</p>
            <p> В 1955 году духовная миссия была закрыта, и по договоренности с китайской стороной Посольство переехало на ее территорию с прежнего места в переулке Дунцзяоминсян, что неподалеку от императорского дворца Гугун и старого Пекинского железнодорожного вокзала.</p>
            <p>Посольство России в КНР расположено на улице Дунчжимэнь бэйчжунцзе в районе Дунчэн г.Пекина, на северо-восточном углу городского центра, который, как известно ограничен пределами второй кольцевой автодороги. Посольство занимает территорию бывшей русской духовной миссии, созданной в 1716 году при активном участии русских купцов и с согласия императора Канси. </p>
        </div>
     </div>
</article>
<article class="history">
    <div class="history_col__left century-overlay">
        <div class="century">
            <big>XVIII</big>век
        </div>
    </div>
    <div class="history_col__right">
        <div class="history_content page-content">
            <p><img class="alignleft" src="assets/img/src/post-content_view6.jpg" alt=""/>Посольство России в КНР расположено на улице Дунчжимэнь бэйчжунцзе в районе Дунчэн г.Пекина, на северо-восточном углу городского центра, который, как известно ограничен пределами второй кольцевой автодороги. Посольство занимает территорию бывшей русской духовной миссии, созданной в 1716 году при активном участии русских купцов и с согласия императора Канси.</p>
            <p> В 1955 году духовная миссия была закрыта, и по договоренности с китайской стороной Посольство переехало на ее территорию с прежнего места в переулке Дунцзяоминсян, что неподалеку от императорского дворца Гугун и старого Пекинского железнодорожного вокзала.</p>
            <p>Посольство России в КНР расположено на улице Дунчжимэнь бэйчжунцзе в районе Дунчэн г.Пекина, на северо-восточном углу городского центра, который, как известно ограничен пределами второй кольцевой автодороги. Посольство занимает территорию бывшей русской духовной миссии, созданной в 1716 году при активном участии русских купцов и с согласия императора Канси. </p>
        </div>
     </div>
</article>
<article class="history">
    <div class="history_col__left century-overlay">
        <div class="century">
            <big>XIX</big>век
        </div>
    </div>
    <div class="history_col__right">
        <div class="history_content page-content">
            <p><img class="alignleft" src="assets/img/src/post-content_view7.jpg" alt=""/>Посольство России в КНР расположено на улице Дунчжимэнь бэйчжунцзе в районе Дунчэн г.Пекина, на северо-восточном углу городского центра, который, как известно ограничен пределами второй кольцевой автодороги. Посольство занимает территорию бывшей русской духовной миссии, созданной в 1716 году при активном участии русских купцов и с согласия императора Канси.</p>
            <p> В 1955 году духовная миссия была закрыта, и по договоренности с китайской стороной Посольство переехало на ее территорию с прежнего места в переулке Дунцзяоминсян, что неподалеку от императорского дворца Гугун и старого Пекинского железнодорожного вокзала.</p>
            <p>Посольство России в КНР расположено на улице Дунчжимэнь бэйчжунцзе в районе Дунчэн г.Пекина, на северо-восточном углу городского центра, который, как известно ограничен пределами второй кольцевой автодороги. Посольство занимает территорию бывшей русской духовной миссии, созданной в 1716 году при активном участии русских купцов и с согласия императора Канси. </p>
        </div>
     </div>
</article>
<article class="history">
    <div class="history_col__left century-overlay">
        <div class="century">
            <big>XXI</big>век
        </div>
    </div>
    <div class="history_col__right">
        <div class="history_content page-content">
            <p><img class="alignleft" src="assets/img/src/post-content_view9.jpg" alt=""/>Посольство России в КНР расположено на улице Дунчжимэнь бэйчжунцзе в районе Дунчэн г.Пекина, на северо-восточном углу городского центра, который, как известно ограничен пределами второй кольцевой автодороги. Посольство занимает территорию бывшей русской духовной миссии, созданной в 1716 году при активном участии русских купцов и с согласия императора Канси.</p>
            <p> В 1955 году духовная миссия была закрыта, и по договоренности с китайской стороной Посольство переехало на ее территорию с прежнего места в переулке Дунцзяоминсян, что неподалеку от императорского дворца Гугун и старого Пекинского железнодорожного вокзала.</p>
            <p>Посольство России в КНР расположено на улице Дунчжимэнь бэйчжунцзе в районе Дунчэн г.Пекина, на северо-восточном углу городского центра, который, как известно ограничен пределами второй кольцевой автодороги. Посольство занимает территорию бывшей русской духовной миссии, созданной в 1716 году при активном участии русских купцов и с согласия императора Канси. </p>
        </div>
     </div>
</article>
{% endblock %}

{% block sidebar %}
{{ nav.init(about.pages.history.sidebar.nav_menu) }}
{% endblock %}