{% extends "two-column.html" %}

{% import 'macros/nav-menu.html' as nav %}
{% import 'macros/nav-menu-mob.html' as nav_mob %}
{% import 'macros/breadcrumbs.html' as breadcrumbs %}

{% block breadcrumbs %}
{{ breadcrumbs.init(consular_issues.pages.article.breadcrumbs) }}
{% endblock %}

{% block primary %}
<header class="page-header">
    <h1 class="page-title">Оформление и выдача Свидетельства на возвращение в Россию</h1>
</header>
{{ nav_mob.init(consular_issues.sidebar.nav_menu) }}
<div class="page-content">
    <p>Зарегистрировано в Минюсте РФ 18 февраля 2009 г. N 13391</p>

    <p class="textcenter">МИНИСТЕРСТВО ИНОСТРАННЫХ ДЕЛ РОССИЙСКОЙ ФЕДЕРАЦИИ</p>

    <p class="textcenter">ПРИКАЗ</p>

    <p class="textcenter">от 11 декабря 2008 г. N 19217</p>
    <br>

    <p class="textcenter">ОБ УТВЕРЖДЕНИИ АДМИНИСТРАТИВНОГО РЕГЛАМЕНТА <br>
        ИСПОЛНЕНИЯ ГОСУДАРСТВЕННОЙ ФУНКЦИИ ПО ВЫДАЧЕ ВРЕМЕННОГО <br>
        ДОКУМЕНТА, УДОСТОВЕРЯЮЩЕГО ЛИЧНОСТЬ ГРАЖДАНИНА РОССИЙСКОЙ <br>
        ФЕДЕРАЦИИ И ДАЮЩЕГО ЕМУ ПРАВО НА ВЪЕЗД (ВОЗВРАЩЕНИЕ) <br>
        В РОССИЙСКУЮ ФЕДЕРАЦИЮ</p>

    <p class="textcenter">(в ред. Приказа МИД РФ от 03.08.2009 N 12631)</p>
    <br>
    <br>

    <p>В соответствии с Постановлением Правительства Российской Федерации от 11 ноября 2005 г. N 679 "О порядке разработки и утверждения административных регламентов исполнения государственных функций (предоставления государственных услуг)" (Собрание законодательства Российской Федерации, 2005, N 47, ст. 4933; 2007, N 50, ст. 6285; 2008, N 18, ст. 2063) приказываю:</p>

    <p>1. Утвердить прилагаемый Административный регламент исполнения государственной функции по выдаче временного документа, удостоверяющего личность гражданина Российской Федерации и дающего ему право на въезд (возвращение) в Российскую Федерацию.</p>

    <p>2. Ввести в действие Административный регламент исполнения государственной функции по выдаче временного документа, удостоверяющего личность гражданина Российской Федерации и дающего ему право на въезд (возвращение) в Российскую Федерацию, с 1 марта 2009 года.</p>

    <p>3. Контроль за исполнением настоящего Приказа возложить на первого заместителя Министра А.И. Денисова.</p>
</div>
{% endblock %}

{% block sidebar %}
{{ nav.init(consular_issues.sidebar.nav_menu) }}
{% endblock %}
