{% extends "two-column.html" %}

{% import 'macros/nav-menu.html' as nav %}
{% import 'macros/nav-menu-mob.html' as nav_mob %}
{% import 'macros/breadcrumbs.html' as breadcrumbs %}

{% block breadcrumbs %}
{{ breadcrumbs.init(consular_issues.pages.item.breadcrumbs) }}
{% endblock %}

{% block primary %}
<header class="page-header">
    <h1 class="page-title">Загранпаспорт</h1>
</header>
{{ nav_mob.init(consular_issues.sidebar.nav_menu) }}
<div class="page-content">
    <p>Административный регламент Министерства иностранных дел Российской Федерации по предоставлению государственной услуги по оформлению и выдаче паспорта, удостоверяющего личность гражданина Российской Федерации за пределами территории Российской Федерации, содержащего электронный носитель информации, устанавливает порядок и стандарт предоставления государственной услуги по оформлению и выдаче паспорта, удостоверяющего личность гражданина Российской Федерации за пределами территории Российской Федерации.</p>

    <div class="media-list">
        <ul>
            <li>
                <img src="assets/img/docx.png" srcset="assets/img/docx@2x.png 2x" alt=""/>
                <div><a href="http://example.com/file.doc">Административный регламент по оформлению и выдаче паспорта, удостоверяющего личность гражданина Российской Федерации за пределами территории Российской Федерации, содержащего электронный носитель</a></div>
            </li>
            <li>
                <img src="assets/img/docx.png" srcset="assets/img/docx@2x.png 2x" alt=""/>
                <div><a href="http://example.com/file.docx">Порядок оформления загранпаспорта нового поколения сроком действия 10 лет</a></div>
            </li>
            <li>
                <img src="assets/img/doc.png" srcset="assets/img/doc@2x.png 2x" alt=""/>
                <div><a href="#">Заявление о выдаче паспорта нового поколения</a></div>
            </li>
            <li>
                <img src="assets/img/doc.png" srcset="assets/img/doc@2x.png 2x" alt=""/>
                <div><a href="#">Образец заполнения заявления о выдаче паспорта нового поколения</a></div>
            </li>
            <li>
                <img src="assets/img/doc.png" srcset="assets/img/doc@2x.png 2x" alt=""/>
                <div><a href="#">Web-форма для подачи в российское консучреждение заявления об оформлении нового загранпаспорта сроком действия на 5 лет и постановки на консульский учет</a></div>
            </li>
            <li>
                <img src="assets/img/pdf.png" srcset="assets/img/pdf@2x.png 2x" alt=""/>
                <div><a href="http://example.com/file.pdf">Постановка на консульский учет граждан Российской Федерации</a></div>
            </li>
            <li>
                <img src="assets/img/pdf.png" srcset="assets/img/pdf@2x.png 2x" alt=""/>
                <div><a href="http://example.com/file.pdf">Форма Свидетельства на въезд в Россию</a></div>
            </li>
            <li>
                <img src="assets/img/doc.png" srcset="assets/img/doc@2x.png 2x" alt=""/>
                <div><a href="#">Оформление и выдача Свидетельства на возвращение в Россию</a></div>
            </li>
            <li>
                <img src="assets/img/doc.png" srcset="assets/img/doc@2x.png 2x" alt=""/>
                <div><a href="#">Образец заявления о выдаче паспорта</a></div>
            </li>
            <li>
                <img src="assets/img/doc.png" srcset="assets/img/doc@2x.png 2x" alt=""/>
                <div><a href="#">Об утверждении административного регламента исполнения государственной функции по оформлению и выдаче паспорта гражданина Российской Федерации</a></div>
            </li>
            <li>
                <img src="assets/img/external.png" srcset="assets/img/external@2x.png 2x" alt=""/>
                <div><a href="#" target="_blank">Постановка на консульский учет граждан Российской Федерации</a></div>
            </li>
            <li>
                <img src="assets/img/external.png" srcset="assets/img/external@2x.png 2x" alt=""/>
                <div><a href="#" target="_blank">Форма Свидетельства на въезд в Россию</a></div>
            </li>
            <li>
                <img src="assets/img/doc.png" srcset="assets/img/doc@2x.png 2x" alt=""/>
                <div><a href="#">Оформление и выдача Свидетельства на возвращение в Россию</a></div>
            </li>
            <li>
                <img src="assets/img/doc.png" srcset="assets/img/doc@2x.png 2x" alt=""/>
                <div><a href="#">Образец заявления о выдаче паспорта</a></div>
            </li>
            <li>
                <img src="assets/img/doc.png" srcset="assets/img/doc@2x.png 2x" alt=""/>
                <div><a href="#">Об утверждении административного регламента исполнения государственной функции по оформлению и выдаче паспорта гражданина Российской Федерации</a></div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block sidebar %}
{{ nav.init(consular_issues.sidebar.nav_menu) }}
{% endblock %}
