{% extends "one-column.html" %}

{% import 'macros/nav-menu.html' as nav %}
{% import 'macros/breadcrumbs.html' as breadcrumbs %}

{% block breadcrumbs %}
{{ breadcrumbs.init(consular_issues.pages.index.breadcrumbs) }}
{% endblock %}

{% block primary %}
<header class="page-header">
    <h1 class="page-title">Консульские вопросы</h1>
</header>
<div class="page-content">

    <!-- BEGIN .tile-nav -->
    <div class="tile-nav">
        <div class="row">
            <div class="col-sm-4">
                <a href="#" class="tile-nav_item">
                    <div class="icon-aligner">
                        <i class="icon-loup-l"></i>
                    </div>
                    <dl class="tile-nav_item_text">
                        <dt>Найти консульство</dt>
                        <dd>Найти ближайшее к Вам консульство, узнать график работы и контакты</dd>
                    </dl>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" class="tile-nav_item">
                    <div class="icon-aligner">
                        <i class="icon-like-l"></i>
                    </div>
                    <dl class="tile-nav_item_text">
                        <dt>Рекомендации по пребыванию в КНР</dt>
                        <dd>Общие вопросы, действия в экстренных ситуациях, в случае задержания/ареста</dd>
                    </dl>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" class="tile-nav_item">
                    <div class="icon-aligner">
                        <i class="icon-medal-l"></i>
                    </div>
                    <dl class="tile-nav_item_text">
                        <dt>Нотариат</dt>
                        <dd>Оформление доверенности, согласия, удостоверение подписи и др.</dd>
                    </dl>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="#" class="tile-nav_item">
                    <div class="icon-aligner">
                        <i class="icon-rings-l"></i>
                    </div>
                    <dl class="tile-nav_item_text">
                        <dt>Вопросы ЗАГС</dt>
                        <dd>Регистрация брака, рождения и др.</dd>
                    </dl>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" class="tile-nav_item">
                    <div class="icon-aligner">
                        <i class="icon-visa-l"></i>
                    </div>
                    <dl class="tile-nav_item_text">
                        <dt>Виза в Россию</dt>
                        <dd>Оформление и выдача виз иностранным гражданам и лицам без гражданства</dd>
                    </dl>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" class="tile-nav_item">
                    <div class="icon-aligner">
                        <i class="icon-passport-l"></i>
                    </div>
                    <dl class="tile-nav_item_text">
                        <dt>Загранпаспорт</dt>
                        <dd>Оформление загранпаспорта, свидетельства на возвращение в Россию</dd>
                    </dl>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="#" class="tile-nav_item">
                    <div class="icon-aligner">
                        <i class="icon-doc-l"></i>
                    </div>
                    <dl class="tile-nav_item_text">
                        <dt>Легализация</dt>
                        <dd>Легализация документов, совершенных в КНР и предназначенных для использования в России</dd>
                    </dl>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" class="tile-nav_item">
                    <div class="icon-aligner">
                        <i class="icon-humans-n-l"></i>
                    </div>
                    <dl class="tile-nav_item_text">
                        <dt>Вопросы гражданства</dt>
                        <dd>Приобретение, прекращение, определение наличия гражданства России</dd>
                    </dl>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" class="tile-nav_item">
                    <div class="icon-aligner">
                        <i class="icon-stamp-l"></i>
                    </div>
                    <dl class="tile-nav_item_text">
                        <dt>Консульский учет</dt>
                        <dd>Постановка на консульский учет проживающих и временно пребывающих в Китае граждан России</dd>
                    </dl>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="#" class="tile-nav_item">
                    <div class="icon-aligner">
                        <i class="icon-doc-n-l"></i>
                    </div>
                    <dl class="tile-nav_item_text">
                        <dt>Истребование документов</dt>
                        <dd>Истребование личных документов из России. Справка о несудимости и др.</dd>
                    </dl>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" class="tile-nav_item">
                    <div class="icon-aligner">
                        <i class="icon-humans-p-l"></i>
                    </div>
                    <dl class="tile-nav_item_text">
                        <dt>Пенсионное обеспечение</dt>
                        <dd>Вопросы пенсионного обеспечения лиц, проживающих  за рубежом</dd>
                    </dl>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" class="tile-nav_item">
                    <div class="icon-aligner">
                        <i class="icon-coins-l"></i>
                    </div>
                    <dl class="tile-nav_item_text">
                        <dt>Тарифы</dt>
                        <dd>Размер сборов за совершение консульских действий. Форма оплаты</dd>
                    </dl>
                </a>
            </div>
        </div>
    </div>
    <!-- END .tile-nav -->
    <hr class="hidden-sm">
    <div class="media-list media-list__doc related-doc hidden-sm">
        <ul>
            <li>
                <div><a href="#">Совместное следование</a></div>
            </li>
            <li>
                <div><a href="#">Соглашение между Россией и Китаем</a></div>
            </li>
            <li>
                <div><a href="#">Совместное следование</a></div>
            </li>
            <li>
                <div><a href="#">Совместное следование</a></div>
            </li>
            <li>
                <div><a href="#">Соглашение между Россией и Китаем</a></div>
            </li>
            <li>
                <div><a href="#">Совместное следование</a></div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
