{% extends "two-column.html" %}

{% import 'macros/nav-menu.html' as nav %}
{% import 'macros/breadcrumbs.html' as breadcrumbs %}

{% block breadcrumbs %}
{{ breadcrumbs.init(contacts.pages.index.breadcrumbs) }}
{% endblock %}

{% block primary %}
<header class="page-header">
    <h1 class="page-title">Контакты</h1>
</header>
<div class="page-content">
    <div class="address">
        <div class="section">
            <h5>Адрес</h5>

            <div class="row">
                <div class="col-sm-6">
                    <dl class="address_item">
                        <dt>На русском языке</dt>
                        <dd>100600 Пекин, ул. Дунчжимэнь Бэйчжунцзе, 4.</dd>
                        <dt>На китайском языке</dt>
                        <dd>100600北京市东直门北中街4号俄罗斯大使馆.</dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <dl class="address_item">
                        <dt>На английском языке</dt>
                        <dd>Russian Embassy, No. 4 Dongzhimen Beizhongjie, Beijing, 100600 China.</dd>
                        <dd><a class="button" href="#">Показать на карте</a></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="section">
            <h5>Телефон</h5>

            <div class="row">
                <div class="col-sm-6">
                    <dl class="address_item">
                        <dt>По общим вопросам</dt>
                        <dd>(+86 10) 6532 1381, (+86 10) 6532 2051</dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <dl class="address_item">
                        <dt>По консульским вопросам</dt>
                        <dd>(+86 10) 6532 1381, (+86 10) 6532 2051</dd>
                    </dl>
                </div>
            </div>
            <h5>Факс</h5>

            <div class="row">
                <div class="col-sm-6">
                    <dl class="address_item">
                        <dt>По общим вопросам</dt>
                        <dd>(+86 10) 6532 4851</dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <dl class="address_item">
                        <dt>По консульским вопросам</dt>
                        <dd>(+86 10) 6532 4851</dd>
                    </dl>
                </div>
            </div>
            <h5>Электронная почта</h5>

            <div class="row">
                <div class="col-sm-6">
                    <dl class="address_item">
                        <dt>По общим вопросам</dt>
                        <dd><a href="mailto:embassy@russia.org.cn">embassy@russia.org.cn</a></dd>
                        <dt>По гуманитарным вопросам</dt>
                        <dd><a href="mailto:culture@russia.org.cn">culture@russia.org.cn</a></dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <dl class="address_item">
                        <dt>По экономическим вопросам</dt>
                        <dd><a href="mailto:economic@russia.org.cn">economic@russia.org.cn</a></dd>
                        <dt>По консульским вопросам</dt>
                        <dd><a href="mailto:visa@russia.org.cn">visa@russia.org.cn</a></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="address_schedule">
            <h4>Часы приема Консульского отдела</h4>
            <ul class="address_schedule_nav">
                <li class="__active"><a href="#" data-target="1">Для граждан России</a></li>
                <li><a href="#" data-target="2">Для иностранных граждан</a></li>
            </ul>
            <div class="address_schedule_entry" data-entry="1">
                <dl class="address_schedule_item">
                    <dt>Понедельник</dt>
                    <dd>14:00 - 18:00</dd>
                </dl>
                <dl class="address_schedule_item">
                    <dt>Вторник</dt>
                    <dd>14:00 - 18:00</dd>
                </dl>
                <dl class="address_schedule_item">
                    <dt>Среда</dt>
                    <dd>14:00 - 18:00</dd>
                </dl>
                <dl class="address_schedule_item">
                    <dt>Четверг</dt>
                    <dd>14:00 - 18:00</dd>
                </dl>
                <dl class="address_schedule_item">
                    <dt>Пятница</dt>
                    <dd>14:00 - 18:00</dd>
                </dl>
                <dl class="address_schedule_item">
                    <dt>Суббота</dt>
                    <dd class="__weekend">Выходной</dd>
                </dl>
                <dl class="address_schedule_item">
                    <dt>Воскресенье</dt>
                    <dd class="__weekend">Выходной</dd>
                </dl>
            </div>
            <div class="address_schedule_entry" data-entry="2" style="display: none;">
                <dl class="address_schedule_item">
                    <dt>Понедельник</dt>
                    <dd>14:00 - 18:00</dd>
                </dl>
                <dl class="address_schedule_item">
                    <dt>Вторник</dt>
                    <dd>14:00 - 18:00</dd>
                </dl>
                <dl class="address_schedule_item">
                    <dt>Среда</dt>
                    <dd>14:00 - 18:00</dd>
                </dl>
                <dl class="address_schedule_item">
                    <dt>Четверг</dt>
                    <dd class="__weekend">Выходной</dd>
                </dl>
                <dl class="address_schedule_item">
                    <dt>Пятница</dt>
                    <dd class="__weekend">Выходной</dd>
                </dl>
                <dl class="address_schedule_item">
                    <dt>Суббота</dt>
                    <dd class="__weekend">Выходной</dd>
                </dl>
                <dl class="address_schedule_item">
                    <dt>Воскресенье</dt>
                    <dd class="__weekend">Выходной</dd>
                </dl>
            </div>
        </div>
    </div>
    <h3 class="page-title">Посольство в соцсетях</h3>
    {% include "partials/embassy-in-socials.html" %}
</div>
{% endblock %}

{% block sidebar %}
{{ nav.init(contacts.sidebar.quick_nav_menu) }}
{% endblock %}
