{% extends "one-column.html" %}

{% import "macros/news-slider.html" as news_slider %}
{% import 'macros/social-list.html' as social_list %}

{% block primary %}
{{ news_slider.tabs(home.news, true) }}
<div class="xs-block text-center">
    <a href="#" class="button">Читать другие новости</a>
    <hr/>
</div>
<div class="xs-block text-center">
    <div class="our-social">
        <h3 class="our-social_title">Мы в соцсетях</h3>
        {{ social_list.init('', '', 'middle') }}
    </div>
</div>
{% include "partials/service-categories.html" %}
{% include "partials/media-center.html" %}
{% include "partials/news-from-partners.html" %}
{% include "partials/partners.html" %}
{% endblock %}