{% extends "two-column.html" %}

{% import 'macros/nav-menu.html' as nav %}
{% import 'macros/breadcrumbs.html' as breadcrumbs %}

{% block breadcrumbs %}
{{ breadcrumbs.init(about.pages.index.breadcrumbs) }}
{% endblock %}

{% block primary %}
<header class="page-header">
    <h1 class="page-title">Договор о добрососедстве, дружбе и сотрудничестве между РФ и КНР</h1>
</header>
<div class="page-content">
	<!-- In order to pass PDF file to viewer, you must add query parameter into iframe src "?file=example.pdf" -->
    <iframe width="100%" height="620" src="viewer/web/viewer.html"></iframe>
</div>
{% endblock %}

{% block sidebar %}
{{ nav.init(mediacenter.sidebar.quick_nav_menu) }}
{% include 'partials/banners.html' %}
{% endblock %}
