{% extends "two-column.html" %}

{% import 'macros/nav-menu.html' as nav %}
{% import 'macros/breadcrumbs.html' as breadcrumbs %}
{% import "macros/news-slider.html" as news_slider %}
{% import 'macros/social-list.html' as social_list %}

{% block breadcrumbs %}
{{ breadcrumbs.init(mediacenter.pages.gallery.breadcrumbs) }}
{% endblock %}

{% block primary %}
<header class="page-header page-header__indent__small">
    <h1 class="page-title">
        Президент В.В.Путин в Пекине присутствовал на военном параде
    </h1>
    <p><b>Состоялась встреча Владимира Путина с Председателем Китайской Народной Республики Си Цзиньпином. Лидеры двух стран обменялись мнениями по приоритетным вопросам двусторонних отношений, взаимодействию в рамках БРИКС и ШОС, актуальным международным темам.</b></p>
    <div class="page-header_row">
        <time class="date-article">20 января 2016</time>
        <div class="media-info">
            <i class="icon-gallery icon__before-title"></i>
            40 фотографий
        </div>
        <div class="share-article">
            <span class="hidden-xs">Поделиться</span>
            {{ social_list.init('', 'share-article_social-list hidden-xs') }}
            <div class="xs-block">
                <ul class="social-list share-article_social-list">
                    <li class="social-list_item">
                        <a href="#">
                            <i class="icon-twitter__middle">Twitter</i>
                        </a>
                    </li>
                    <li class="social-list_item">
                        <a href="#">
                            <i class="icon-facebook__middle">Facebook</i>
                        </a>
                    </li>
                    <li class="social-list_item">
                        <a href="#">
                            <i class="icon-vk__middle">VKontakte</i>
                        </a>
                    </li>
                    <li class="social-list_item">
                        <a href="#">
                            <i class="icon-sina-weibo__middle">Sina Weibo</i>
                        </a>
                    </li>
                    <li class="social-list_item">
                        <a href="#">
                            <i class="icon-renmin-weibo__middle">Remni Weibo</i>
                        </a>
                    </li>
                    <li class="social-list_item">
                        <a href="#">
                            <i class="icon-tencent-weibo__middle">Tencent Weibo</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="page-slider-gallery">
    {{ news_slider.thumbs(mediacenter.pages.single.slider, false) }}
</div>
<div class="page-content">
    <p>В поздравительной телеграмме глава Российского государства высоко оценил беспрецедентно высокий уровень российско-китайских отношений всеобъемлющего партнёрства и стратегического взаимодействия, который в полной мере подтвердили недавние встречи на высшем уровне в Москве, Уфе и Пекине.</p>
    <p>Президент России с удовлетворением отметил содержательный характер двустороннего политического диалога, высокую динамику сотрудничества на торговом, инвестиционном, энергетическом, гуманитарном и других направлениях и отдачу от координации усилий в решении важных вопросов региональной и глобальной повестки дня.</p>
    <p>Владимир Путин выразил уверенность в дальнейшем наращивании всего комплекса взаимовыгодных связей между Россией и КНР на благо граждан двух государств, в интересах обеспечения безопасности и стабильности во всём мире.</p>
</div>
<div class="page-footer">
    <a class="come-back-link" href="#"><&nbsp;&nbsp;Вернуться назад</a>
    <div class="share-article">
        Поделиться
        <!-- BEGIN .social-list -->
        <ul class="social-list share-article_social-list">
            <li class="social-list_item">
                <a target="_blank" href="http://twitter.com/share?text=Lovely%20Red%20Bridge&url=http://mysite.com">
                    <i class="icon-twitter">Twitter</i>
                </a>
            </li>
            <li class="social-list_item">
                <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http://mysite.com">
                    <i class="icon-facebook">Facebook</i>
                </a>
            </li>
            <li class="social-list_item">
                <a target="_blank" href="http://vk.com/share.php?url=http://mysite.com&title=Президент В.В.Путин в Пекине присутствовал на военном параде&description=Состоялась встреча Владимира Путина с Председателем Китайской Народной Республики Си Цзиньпином. Лидеры двух стран обменялись мнениями по приоритетным вопросам двусторонних отношений, взаимодействию в рамках БРИКС и ШОС, актуальным международным темам.">
                    <i class="icon-vk">VKontakte</i>
                </a>
            </li>
            <li class="social-list_item">
                <a target="_blank" href="http://service.weibo.com/share/share.php?url=http://mysite.com&&title=Президент В.В.Путин в Пекине присутствовал на военном параде&pic=#">
                    <i class="icon-sina-weibo">Sina Weibo</i>
                </a>
            </li>
            <li class="social-list_item">
                <a target="_blank" href="#">
                    <i class="icon-renmin-weibo">Remni Weibo</i>
                </a>
            </li>
            <li class="social-list_item">
                <a target="_blank" href="http://share.v.t.qq.com/index.php?c=share&a=index&url=http://mysite.com&title=Президент В.В.Путин в Пекине присутствовал на военном параде&pic=#">
                    <i class="icon-tencent-weibo">Tencent Weibo</i>
                </a>
            </li>
        </ul>
        <!-- END .social-list -->
    </div>
</div>
{% endblock %}

{% block sidebar %}
{{ nav.init(mediacenter.sidebar.quick_nav_menu) }}
{% include 'partials/banners.html' %}
{% endblock %}