{% extends "two-column.html" %}

{% import 'macros/nav-menu.html' as nav %}
{% import 'macros/nav-menu-mob.html' as nav_mob %}
{% import 'macros/breadcrumbs.html' as breadcrumbs %}
{% import 'macros/media-grid.html' as media_grid %}

{% block breadcrumbs %}
{{ breadcrumbs.init(mediacenter.pages.index.breadcrumbs) }}
{% endblock %}

{% block primary %}
<header class="page-header">
    <h1 class="page-title">Медиацентр</h1>
</header>
<ul class="nav-menu dropdown">
    <li class="nav-menu_item current-item" data-toggle="open-list">
        <span>Разделы</span>
    </li>
    <li class="nav-menu_item">
        <a href="#">
            <span class="nav-menu_item_text">Видеоархив</span>
        </a>
        <ul class="nav-menu __sub">
            <li class="nav-menu_item">
                <a href="#">Интервью</a>
            </li>
            <li class="nav-menu_item">
                <a href="#">Туризм</a>
            </li>
            <li class="nav-menu_item">
                <a href="#">О России</a>
            </li>
            <li class="nav-menu_item">
                <a href="#">Культура</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu_item">
        <a href="#">
            <span class="nav-menu_item_text">Фотогалерея</span>
        </a>
        <ul class="nav-menu __sub">
            <li class="nav-menu_item">
                <a href="#">Выступления</a>
            </li>
            <li class="nav-menu_item">
                <a href="#">Совещания и встречи</a>
            </li>
            <li class="nav-menu_item">
                <a href="#">Встречи со СМИ</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu_item">
        <a href="#">
            <span class="nav-menu_item_text">Библиотека</span>
        </a>
        <ul class="nav-menu __sub">
            <li class="nav-menu_item">
                <a href="#">Журналы</a>
            </li>
            <li class="nav-menu_item">
                <a href="#">Официальные документы</a>
            </li>
            <li class="nav-menu_item">
                <a href="#">Аудиозаписи</a>
            </li>
            <li class="nav-menu_item">
                <a href="#">Документы и презентации</a>
            </li>
        </ul>
    </li>
</ul>
<div class="nav-tabs hidden-sm">
    <a class="nav-tabs_item" href="#">
        <i class="icon-video icon__before-title"></i>
        <strong class="nav-tabs_item-title">Видеоархив</strong>
    </a>
    <a class="nav-tabs_item" href="#">
        <i class="icon-gallery icon__before-title"></i>
        <strong class="nav-tabs_item-title">Фотогалерея</strong>
    </a>
    <a class="nav-tabs_item" href="#">
        <i class="icon-doc icon__before-title"></i>
        <strong class="nav-tabs_item-title">Библиотека</strong>
    </a>
</div>
<section class="section">
    <div class="section_header section_header__indent__small">
        <h2 class="section_title">Видеозаписи</h2>
        <a class="view-all" href="#">Все видеозаписи</a>
    </div>
{{ media_grid.init(mediacenter.pages.index.media.video) }}
    <div class="xs-block">
        <a class="button full-width" href="#">Все видеозаписи</a>
    </div>
</section>
<section class="section">
    <div class="section_header section_header__indent__small">
        <h2 class="section_title">Фотоальбомы</h2>
        <a class="view-all" href="#">Все фотоальбомы</a>
    </div>
    {{ media_grid.init(mediacenter.pages.index.media.gallery) }}
    <div class="xs-block">
        <a class="button full-width" href="#">Все фотоальбомы</a>
    </div>
</section>
<section class="section">
    <div class="section_header section_header__indent__middle">
        <h2 class="section_title">Аудиозаписи</h2>
        <a class="view-all" href="#">Все аудиозаписи</a>
    </div>
    <div class="media-list media-list__audio two-col">
        <ul>
            <li><div><a href="#">Sputnik Radio - Запись выпуска 323</a></div></li>
            <li><div><a href="#">Sputnik Radio - Запись выпуска 322</a></div></li>
            <li><div><a href="#">Sputnik Radio - Запись выпуска 321</a></div></li>
            <li><div><a href="#">Sputnik Radio - Запись выпуска 323</a></div></li>
            <li><div><a href="#">Sputnik Radio - Запись выпуска 322</a></div></li>
            <li><div><a href="#">Sputnik Radio - Запись выпуска 321</a></div></li>
        </ul>
    </div>
    <div class="xs-block">
        <a class="button full-width" href="#">Все аудиозаписи</a>
    </div>
</section>
<section class="section section__separator__disabled">
    <div class="section_header section_header__indent__middle">
        <h2 class="section_title">Другие документы и презентации</h2>
        <a class="view-all" href="#">Все документы</a>
    </div>
    <div class="media-list media-list__doc two-col">
        <ul>
            <li><div><a href="#">Документы, подписанные по итогам российско-китайских переговоров 3 сентября 2015 г.</a></div></li>
            <li><div><a href="#">Договор о добрососедстве, дружбе и сотрудничестве между РФ и КНР</a></div></li>
            <li><div><a href="#">Документы, подписанные по итогам российско-китайских переговоров 3 сентября 2015 г.</a></div></li>
            <li><div><a href="#">Документы, подписанные по итогам российско-китайских переговоров 3 сентября 2015 г.</a></div></li>
            <li><div><a href="#">Договор о добрососедстве, дружбе и сотрудничестве между РФ и КНР</a></div></li>
            <li><div><a href="#">Документы, подписанные по итогам российско-китайских переговоров 3 сентября 2015 г.</a></div></li>
        </ul>
    </div>
</section>
{% endblock %}

{% block sidebar %}
{{ nav.init(mediacenter.sidebar.quick_nav_menu) }}
{% include 'partials/banners.html' %}
{% endblock %}