{% extends "two-column.html" %}

{% import 'macros/nav-menu.html' as nav %}
{% import 'macros/nav-menu-mob.html' as nav_mob %}
{% import 'macros/breadcrumbs.html' as breadcrumbs %}
{% import 'macros/media-grid.html' as media_grid %}

{% block breadcrumbs %}
{{ breadcrumbs.init(mediacenter.pages.video.breadcrumbs) }}
{% endblock %}

{% block primary %}
<header class="page-header">
    <h1 class="page-title">Медиацентр</h1>
</header>
<ul class="nav-menu dropdown">
    <li class="nav-menu_item current-item" data-toggle="open-list">
        <span>Разделы</span>
    </li>
    <li class="nav-menu_item">
        <span class="nav-menu_item_text __active">Видеоархив</span>
        <ul class="nav-menu __sub">
            <li class="nav-menu_item">
                <a href="#">Интервью</a>
            </li>
            <li class="nav-menu_item">
                <a href="#">Туризм</a>
            </li>
            <li class="nav-menu_item">
                <a href="#">О России</a>
            </li>
            <li class="nav-menu_item">
                <a href="#">Культура</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu_item">
        <a href="#">
            <span class="nav-menu_item_text">Фотогалерея</span>
        </a>
        <ul class="nav-menu __sub">
            <li class="nav-menu_item">
                <a href="#">Выступления</a>
            </li>
            <li class="nav-menu_item">
                <a href="#">Совещания и встречи</a>
            </li>
            <li class="nav-menu_item">
                <a href="#">Встречи со СМИ</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu_item">
        <a href="#">
            <span class="nav-menu_item_text">Библиотека</span>
        </a>
        <ul class="nav-menu __sub">
            <li class="nav-menu_item">
                <a href="#">Журналы</a>
            </li>
            <li class="nav-menu_item">
                <a href="#">Официальные документы</a>
            </li>
            <li class="nav-menu_item">
                <a href="#">Аудиозаписи</a>
            </li>
            <li class="nav-menu_item">
                <a href="#">Документы и презентации</a>
            </li>
        </ul>
    </li>
</ul>
<div class="nav-tabs hidden-sm">
    <a class="nav-tabs_item active" href="#">
        <i class="icon-video icon__before-title"></i>
        <strong class="nav-tabs_item-title">Видеоархив</strong>
    </a>
    <a class="nav-tabs_item" href="#">
        <i class="icon-gallery icon__before-title"></i>
        <strong class="nav-tabs_item-title">Фотогалерея</strong>
    </a>
    <a class="nav-tabs_item" href="#">
        <i class="icon-doc icon__before-title"></i>
        <strong class="nav-tabs_item-title">Библиотека</strong>
    </a>
</div>
<div class="sub-nav-tabs hidden-sm">
    <a class="sub-nav-tabs_item active" href="#">Все материалы</a>
    <a class="sub-nav-tabs_item" href="#">Интервью</a>
    <a class="sub-nav-tabs_item" href="#">Туризм</a>
    <a class="sub-nav-tabs_item" href="#">О России</a>
    <a class="sub-nav-tabs_item" href="#">Культура</a>
</div>
<section class="section section__separator__disabled section__indent__none">
    {{ media_grid.init(mediacenter.pages.video.media) }}
</section>
{% include 'partials/pagination.html' %}
<div class="xs-block">
    <a class="button full-width" href="#">Показать ещё видеозаписи</a>
</div>

{% endblock %}

{% block sidebar %}
{{ nav.init(mediacenter.sidebar.quick_nav_menu) }}
{% include 'partials/banners.html' %}
{% endblock %}