{% extends "two-column.html" %}

{% import 'macros/nav-menu.html' as nav %}
{% import 'macros/nav-menu-mob.html' as nav_mob %}
{% import 'macros/breadcrumbs.html' as breadcrumbs %}
{% import 'macros/media-grid.html' as media_grid %}

{% block breadcrumbs %}
{{ breadcrumbs.init(news.pages.interview.breadcrumbs) }}
{% endblock %}

{% block primary %}
<header class="page-header page-header__indent__small">
    <h1 class="page-title">Интервью руководства страны</h1>
</header>
<ul class="nav-menu dropdown">
    <li class="nav-menu_item current-item" data-toggle="open-list">
        <span>Разделы</span>
    </li>
    <li class="nav-menu_item">
        <span class="nav-menu_item_text __active">Интервью Руководства Страны</span>
    </li>
    <li class="nav-menu_item">
        <a href="#">
            <span class="nav-menu_item_text">Интервью Руководства Посольства</span>
        </a>
    </li>
</ul>
{{ media_grid.init(news.pages.index.media.last, 'small') }}
{{ media_grid.init(news.pages.index.media.last, 'small') }}
{{ media_grid.init(news.pages.index.media.last, 'small') }}
{{ media_grid.init(news.pages.index.media.last, 'small') }}

{% include 'partials/pagination.html' %}
<div class="xs-block">
    <a class="button full-width" href="#">Показать ещё интервью</a>
</div>
{% endblock %}

{% block sidebar %} 
{{ nav.init(news.sidebar.nav_menu) }}
{{ nav.init(news.sidebar.quick_nav_menu) }}
{% include 'partials/banners.html' %}
{% endblock %}