{% extends "two-column.html" %}

{% import 'macros/nav-menu.html' as nav %}
{% import 'macros/nav-menu-mob.html' as nav_mob %}
{% import 'macros/breadcrumbs.html' as breadcrumbs %}
{% import 'macros/media-grid.html' as media_grid %}

{% block breadcrumbs %}
{{ breadcrumbs.init(news.pages.index.breadcrumbs) }}
{% endblock %}

{% block primary %}
<header class="page-header page-header__indent__small">
    <h1 class="page-title">Новости</h1>
</header>
<ul class="nav-menu dropdown">
    <li class="nav-menu_item current-item" data-toggle="open-list">
        <span>Разделы</span>
    </li>
    <li class="nav-menu_item">
        <a href="#">
            <span class="nav-menu_item_text">Интервью Руководства Страны</span>
        </a>
    </li>
    <li class="nav-menu_item">
        <a href="#">
            <span class="nav-menu_item_text">Интервью Руководства Посольства</span>
        </a>
    </li>
</ul>
<div class="featured-posts">
    {{ media_grid.init(news.pages.index.media.featured) }}
</div>
<section class="section">
    {{ media_grid.init(news.pages.index.media.last, "small") }}
    <a class="button view-all" href="#">Посмотреть все новости</a>
</section>

<section class="section">
    <div class="section_header section_header__indent__small">
        <h2 class="section_title">Интервью Руководства Страны</h2>
    </div>
    {{ media_grid.init(news.pages.index.media.last, "small") }}
    <a class="button view-all" href="#">Посмотреть все</a>
</section>

<section class="section section__separator__disabled">
    <div class="section_header section_header__indent__small">
        <h2 class="section_title">Интервью Руководства Посольства</h2>
    </div>
    {{ media_grid.init(news.pages.index.media.last, "small") }}
    <a class="button view-all" href="#">Посмотреть все</a>
</section>
{% endblock %}

{% block sidebar %} 
{{ nav.init(news.sidebar.nav_menu) }}
{{ nav.init(news.sidebar.quick_nav_menu) }}
{% include 'partials/banners.html' %}
{% endblock %}