{% extends "two-column.html" %}

{% import 'macros/nav-menu.html' as nav %}
{% import 'macros/nav-menu-mob.html' as nav_mob %}
{% import 'macros/breadcrumbs.html' as breadcrumbs %}
{% import 'macros/media-list.html' as media_list %}

{% block breadcrumbs %}
{{ breadcrumbs.init(russian_business.pages.index.breadcrumbs) }}
{% endblock %}

{% block primary %}
<header class="page-header">
    <h1 class="page-title">Российскому бизнесу</h1>
</header>
{{ nav_mob.init(russian_business.sidebar.quick_nav_menu) }}
<div class="nav-tabs hidden-sm">
    <a class="nav-tabs_item" href="#">
        <strong class="nav-tabs_item-title">Советы бизнесу</strong>
    </a>
    <a class="nav-tabs_item" href="#">
        <strong class="nav-tabs_item-title">Выставки в КНР</strong>
    </a>
    <a class="nav-tabs_item" href="#">
        <strong class="nav-tabs_item-title">Ассоциации</strong>
    </a>
    <a class="nav-tabs_item" href="#">
        <strong class="nav-tabs_item-title">Резервный раздел</strong>
    </a>
</div>
<div class="page-content">
    <h3>Советы бизнеснеменах в КНР</h3>
    <p><b>Состоялась встреча Владимира Путина с Председателем Китайской Народной Республики Си Цзиньпином. Лидеры двух стран обменялись мнениями по приоритетным вопросам двусторонних отношений, взаимодействию в рамках БРИКС и ШОС, актуальным международным темам.</b></p>
    <p>В поздравительной телеграмме глава Российского государства высоко оценил беспрецедентно высокий уровень российско-китайских отношений всеобъемлющего партнёрства и стратегического взаимодействия, который в полной мере подтвердили недавние встречи на высшем уровне в Москве, Уфе и Пекине.</p>
    <p>Президент России с удовлетворением отметил содержательный характер двустороннего политического диалога, высокую динамику сотрудничества на торговом, инвестиционном, энергетическом, гуманитарном и других направлениях и отдачу от координации усилий в решении важных вопросов региональной и глобальной повестки дня.</p>
    <p>Владимир Путин выразил уверенность в дальнейшем наращивании всего комплекса взаимовыгодных связей между Россией и КНР на благо граждан двух государств, в интересах обеспечения безопасности и стабильности во всём мире.</p>
    <p>&nbsp;</p>
</div>
{{ media_list.init(russian_business.pages.advice.media, 'medium') }}
{% endblock %}

{% block sidebar %}
{{ nav.init(russian_business.sidebar.quick_nav_menu) }}
{% include 'partials/banners.html' %}
{% endblock %}