{% extends "two-column.html" %}

{% import 'macros/nav-menu.html' as nav %}
{% import 'macros/nav-menu-mob.html' as nav_mob %}
{% import 'macros/breadcrumbs.html' as breadcrumbs %}
{% import 'macros/media-grid.html' as media_grid %}

{% block breadcrumbs %}
{{ breadcrumbs.init(russia_china.pages.index.breadcrumbs) }} 
{% endblock %}

{% block primary %}
<header class="page-header page-header__indent__small">
    <h1 class="page-title">Россия и Китай</h1>
</header>
{{ nav_mob.init(russia_china.sidebar.nav_menu) }}
<section class="section section__separator__disabled section__indent__none">
    <div class="section_header section_header__indent__small hidden-sm">
        <h2 class="section_title">Сотрудничество</h2>
    </div>
    {{ media_grid.init(russia_china.pages.all.media) }}
    {{ media_grid.init(russia_china.pages.all.media) }}
    {{ media_grid.init(russia_china.pages.all.media) }}
</section>
{% include 'partials/pagination.html' %}
<div class="xs-block">
    <a class="button full-width" href="#">Показать ещё новости</a>
</div>
{% endblock %}

{% block sidebar %} 
{{ nav.init(russia_china.sidebar.nav_menu) }}
{{ nav.init(russia_china.sidebar.quick_nav_menu) }}
{% include 'partials/banners.html' %}
{% endblock %}