{% extends "two-column.html" %}

{% import 'macros/nav-menu.html' as nav %}
{% import 'macros/nav-menu-mob.html' as nav_mob %}
{% import 'macros/breadcrumbs.html' as breadcrumbs %}
{% import 'macros/media-grid.html' as media_grid %}
{% import 'macros/media-list.html' as media_list %}

{% block breadcrumbs %}
{{ breadcrumbs.init(russian_business.pages.index.breadcrumbs) }}
{% endblock %}

{% block primary %}
<header class="page-header">
    <h1 class="page-title">Российскому бизнесу</h1>
</header>
{{ nav_mob.init(russian_business.sidebar.quick_nav_menu) }}
<div class="nav-tabs hidden-sm">
    <a class="nav-tabs_item" href="#">
        <strong class="nav-tabs_item-title">Советы бизнесу</strong>
    </a>
    <a class="nav-tabs_item" href="#">
        <strong class="nav-tabs_item-title">Выставки в КНР</strong>
    </a>
    <a class="nav-tabs_item" href="#">
        <strong class="nav-tabs_item-title">Ассоциации</strong>
    </a>
    <a class="nav-tabs_item" href="#">
        <strong class="nav-tabs_item-title">Резервный раздел</strong>
    </a>
</div>
<div class="featured-posts">
    {{ media_grid.init(russian_business.pages.index.media.featured) }}
</div>
{{ media_list.init(russian_business.pages.index.media.list, 'medium') }}
{% include 'partials/pagination.html' %}
<div class="xs-block">
    <a class="button full-width" href="#">Показать ещё новости</a>
</div>
{% endblock %}

{% block sidebar %} 
{{ nav.init(russian_business.sidebar.quick_nav_menu) }}
{% include 'partials/banners.html' %}
{% endblock %}