{% extends "two-column.html" %}

{% import 'macros/nav-menu.html' as nav %}
{% import 'macros/nav-menu-mob.html' as nav_mob %}
{% import 'macros/breadcrumbs.html' as breadcrumbs %}
{% import 'macros/media-grid.html' as media_grid %}

{% block breadcrumbs %}
{{ breadcrumbs.init(russia_china.pages.index.breadcrumbs) }} 
{% endblock %}

{% block primary %}
<header class="page-header page-header__indent__small">
    <h1 class="page-title">Россия и Китай</h1>
</header>
{{ nav_mob.init(russia_china.sidebar.nav_menu) }}
<section class="section sm-border-disabled">
    <div class="section_header section_header__indent__small hidden-sm">
        <i class="icon-handshake icon__before-title"></i>
        <h2 class="section_title">Сотрудничество</h2>
    </div>
    {{ media_grid.init(russia_china.pages.index.media.cooperation) }}
    <a class="button view-all" href="russia-china-all.html">Посмотреть все</a>
</section>

<section class="section hidden-sm">
    <div class="section_header section_header__indent__small">
        <i class="icon-russia-flag icon__before-title"></i>
        <h2 class="section_title">Россия</h2>
    </div>
    {{ media_grid.init(russia_china.pages.index.media.russia) }}
    <a class="button view-all" href="russia-china-all.html">Посмотреть все</a>
</section>

<section class="section section__separator__disabled hidden-sm">
    <div class="section_header section_header__indent__small">
        <i class="icon-china-flag icon__before-title"></i>
        <h2 class="section_title">Китай</h2>
    </div>
    {{ media_grid.init(russia_china.pages.index.media.china) }}
    <a class="button view-all" href="russia-china-all.html">Посмотреть все</a>
</section>
{% endblock %}

{% block sidebar %} 
{{ nav.init(russia_china.sidebar.nav_menu) }}
{{ nav.init(russia_china.sidebar.quick_nav_menu) }}
{% endblock %}