{% extends "two-column.html" %}

{% import 'macros/nav-menu.html' as nav %}
{% import 'macros/breadcrumbs.html' as breadcrumbs %}

{% block breadcrumbs %}
{{ breadcrumbs.init(search.breadcrumbs) }}
{% endblock %}

{% block primary %}
<div class="search">
    <form class="search-form" action="">
        <button class="search-form_btn" type="submit"><i class="icon-loupe-light"></i></button>
        <input class="search-form_field" type="text" placeholder="Поиск по сайту"/>
        <div class="search-form_cleaner">
            <i class="icon-close-circle-light" data-toggle="clear-input"></i>
        </div>
    </form>
    <div class="search_result-counter">Результатов поиска: 234</div>
    <ul class="search_result-list">
        <li class="search_result-item">
            <a href="#">Перечень документов, необходимых для оформления гражданства Российской Федерации ребенку, родившемуся в Китае, один из родителей которого является гражданином Российской Федерации</a>
           <div class="search_result-cat"><a href="#">Документ</a></div>
        </li>
        <li class="search_result-item">
            <a href="#">Перечень документов, необходимых для оформления гражданства Российской Федерации ребенку, родившемуся в Китае, один из родителей которого является гражданином Российской Федерации</a>
           <div class="search_result-cat"><a href="#">Документ</a></div>
        </li>
        <li class="search_result-item">
            <a href="#">Перечень документов, необходимых для оформления гражданства Российской Федерации ребенку, родившемуся в Китае, один из родителей которого является гражданином Российской Федерации</a>
           <div class="search_result-cat"><a href="#">Документ</a></div>
        </li>
        <li class="search_result-item">
            <a href="#">Перечень документов, необходимых для оформления гражданства Российской Федерации ребенку, родившемуся в Китае, один из родителей которого является гражданином Российской Федерации</a>
           <div class="search_result-cat"><a href="#">Документ</a></div>
        </li>
        <li class="search_result-item">
            <a href="#">Перечень документов, необходимых для оформления гражданства Российской Федерации ребенку, родившемуся в Китае, один из родителей которого является гражданином Российской Федерации</a>
            <div class="search_result-cat"><a href="#">Документ</a></div>
        </li>
        <li class="search_result-item">
            <a href="#">Перечень документов, необходимых для оформления гражданства Российской Федерации ребенку, родившемуся в Китае, один из родителей которого является гражданином Российской Федерации</a>
            <div class="search_result-cat"><a href="#">Документ</a></div>
        </li>
        <li class="search_result-item">
            <a href="#">Перечень документов, необходимых для оформления гражданства Российской Федерации ребенку, родившемуся в Китае, один из родителей которого является гражданином Российской Федерации</a>
           <div class="search_result-cat"><a href="#">Документ</a></div>
        </li>
        <li class="search_result-item">
            <a href="#">Перечень документов, необходимых для оформления гражданства Российской Федерации ребенку, родившемуся в Китае, один из родителей которого является гражданином Российской Федерации</a>
           <div class="search_result-cat"><a href="#">Документ</a></div>
        </li>
    </ul>
</div>
{% include 'partials/pagination.html' %}
<div class="xs-block">
    <a class="button full-width" href="#">Показать ещё результаты</a>
</div>
{% endblock %}

{% block sidebar %}
{{ nav.init(search.sidebar.quick_nav_menu) }}
{% include 'partials/banners.html' %}
{% endblock %}